# Django project
/svjis/media/
/svjis/playwright_output/
/svjis/static/
/svjis/*.sqlite3

# Python and others
__pycache__
*.pyc
.DS_Store
*.swp
/.venv/
/tmp/
/.vagrant/
/Vagrantfile.local
node_modules/
/npm-debug.log
/.idea/
.vscode
coverage
.python-version
/svjis2-data/
