# General
venv/
.venv/
*.egg-info/
*~
.ruff_cache/
.mypy_cache/

# IDE
.idea/

# Django
__pycache__/
*.log
*.pot
*.pyc

# Project
db.sqlite3*
svjis/media/
svjis/static/
local_settings.py
local_requirements.txt
*.mo
playwright_output/
svjis2-data/
