services:

  svjis-app:
    image: berk76/svjis2-app:latest
    container_name: svjis2_app
    restart: unless-stopped
    ports:
      - 8000:8000
    # volumes:
    #   - ./svjis2-data/static:/app/svjis/static
    #   - ./svjis2-data/media:/app/svjis/media
    #   - ./svjis2-data/svjis/local_settings.py:/app/svjis/svjis/local_settings.py
    #   - ./svjis2-data/db.sqlite3:/app/svjis/db.sqlite3
