{% extends "base-with-aside-menu-content.html" %}

{% load i18n %}

{% block content %}

<h1 class="page-title">{% translate 'Building' %}</h1>
<form action="{% url 'admin_building_save' %}" method="post">
    {% csrf_token %}
    <fieldset>
        <legend>{% translate 'Building' %}</legend>
        <p>
            <label class="common-label" for="{{ form.address.auto_id }}">{{ form.address.label }}</label>
            {{ form.address }}
        </p>
        <p>
            <label class="common-label" for="{{ form.city.auto_id }}">{{ form.city.label }}</label>
            {{ form.city }}
        </p>
        <p>
            <label class="common-label" for="{{ form.post_code.auto_id }}">{{ form.post_code.label }}</label>
            {{ form.post_code }}
        </p>
        <p>
            <label class="common-label" for="{{ form.land_registry_no.auto_id }}">{{ form.land_registry_no.label }}</label>
            {{ form.land_registry_no }}
        </p>
    </fieldset>
    <p>
        <input class="my-button" id="submit" type="submit" value="{% translate 'Save' %}" />
    </p>
</form>

{% endblock content %}
