{% extends "base-with-aside-menu-content.html" %}

{% load i18n %}

{% block content %}

<h1 class="page-title">{% translate 'Group' %}</h1>
<form action="{% url 'admin_group_save' %}" method="post">
    {% csrf_token %}
    <input type="hidden" name="pk" value="{{ pk }}">

    <fieldset>
        <legend>{% translate 'Group' %}</legend>
        <p>
            <label class="common-label" for="{{ form.name.auto_id }}">{{ form.name.label }}</label>
            {{ form.name }}
        </p>
    </fieldset>

    <fieldset>
        <legend>{% translate 'Permissions' %}</legend>
        {% if permission_list %}
        {% for obj in permission_list %}
        <p>
            <label class="common-label" id="{{ obj.name }}-label" for="{{ obj.name }}-input">{{ obj.name }}</label>
            <input class="common-input" id="{{ obj.name }}-input" type="checkbox" name="{{ obj.name }}" {% if obj.checked %}checked{% endif %}/>
        </p>
        {% endfor %}
        {% endif %}
    </fieldset>
    <p>
        <input class="my-button" id="submit" type="submit" value="{% translate 'Save' %}" />
    </p>
</form>

{% endblock content %}
