{% extends "base-with-aside-menu-content.html" %}

{% load i18n %}

{% block content %}

<h1 class="page-title" id="tbl-desc">{% translate 'Preferences' %}</h1>
[<a href="{% url 'admin_preferences_edit' pk=0 %}">{% translate 'Create new entry' %}</a>]

<table class="list" aria-describedby="tbl-desc">
    <tr>
        <th class="list hide-in-mobile" scope="col">&nbsp;</th>
        <th class="list" scope="col">&nbsp;</th>
        <th class="list" scope="col">&nbsp;</th>
        <th class="list" scope="col">{% translate 'Key' %}</th>
        <th class="list hide-in-mobile" scope="col">{% translate 'Value' %}</th>
    </tr>

    {% if object_list %}
    {% for obj in object_list %}
    <tr>
        <td class="list hide-in-mobile">{{ forloop.counter }}</td>
        <td class="list"><a href="{% url 'admin_preferences_edit' pk=obj.pk %}"><img src="/static/gfx/pencil.png" border="0" title="{% translate 'Edit' %}" alt="{% translate 'Edit' %}"></a></td>
        <td class="list"><a onclick="if (!confirm('{% translate 'Do you want to delete' %} {{ obj.key }} ?')) return false;" href="{% url 'admin_preferences_delete' pk=obj.id %}"><img src="/static/gfx/delete.png" border="0" title="{% translate 'Delete' %}" alt="{% translate 'Delete' %}"></a></td>
        <td class="list">{{ obj.key }}</td>
        <td class="list hide-in-mobile">{{ obj.value }}</td>
    </tr>
    {% endfor %}
    {% endif %}
</table>

{% endblock content %}
