{% extends "base-with-aside-menu-content.html" %}

{% load i18n %}

{% block content %}

<h1 class="page-title">{% trans 'User' %}</h1>
<form action="{% url 'admin_user_save' %}" method="post">
    {% csrf_token %}
    <input type="hidden" name="pk" value="{{ pk }}">

    <fieldset>
        <legend>{% trans 'Person' %}</legend>
        <p>
            <label class="common-label" for="{{ pform.salutation.auto_id }}">{{ pform.salutation.label }}</label>
            {{ pform.salutation }}
        </p>
        <p>
            <label class="common-label" for="{{ uform.first_name.auto_id }}">{{ uform.first_name.label }}</label>
            {{ uform.first_name }}
        </p>
        <p>
            <label class="common-label" for="{{ uform.last_name.auto_id }}">{{ uform.last_name.label }}</label>
            {{ uform.last_name }}
        </p>
        <p>
            <label class="common-label" for="{{ pform.internal_note.auto_id }}">{{ pform.internal_note.label }}</label>
            {{ pform.internal_note }}
        </p>
    </fieldset>
    <fieldset>
        <legend>{% trans 'Contact information' %}</legend>
        <p>
            <label class="common-label" for="{{ pform.address.auto_id }}">{{ pform.address.label }}</label>
            {{ pform.address }}
        </p>
        <p>
            <label class="common-label" for="{{ pform.city.auto_id }}">{{ pform.city.label }}</label>
            {{ pform.city }}
        </p>
        <p>
            <label class="common-label" for="{{ pform.post_code.auto_id }}">{{ pform.post_code.label }}</label>
            {{ pform.post_code }}
        </p>
        <p>
            <label class="common-label" for="{{ pform.country.auto_id }}">{{ pform.country.label }}</label>
            {{ pform.country }}
        </p>
        <p>
            <label class="common-label" for="{{ pform.phone.auto_id }}">{{ pform.phone.label }}</label>
            {{ pform.phone }}
        </p>
        <p>
            <label class="common-label" for="{{ uform.email.auto_id }}">{{ uform.email.label }}</label>
            {{ uform.email }}
        </p>
        <p>
            <label class="common-label" for="{{ pform.show_in_phonelist.auto_id }}">{{ pform.show_in_phonelist.label }}</label>
            {{ pform.show_in_phonelist }}
        </p>
    </fieldset>
    <fieldset>
        <legend>{% trans 'Login information' %}</legend>
        <p>
            <label class="common-label" for="{{ uform.username.auto_id }}">{{ uform.username.label }}</label>
            {{ uform.username }}
        </p>
        <p>
            <label class="common-label" id="lpass-label" for="lpass-input">{% trans 'Password' %}</label>
            <input class="common-input" id="lpass-input" type="password" name="password" maxlength="20" size="50" value="" />
        </p>
        <p>
            <label class="common-label" id="sendc-label" for="sendc-input">{% trans 'Send Credentials By E-Mail' %}</label>
            <input class="common-input" id="sendc-input" type="checkbox" name="send_credentials"  />
        </p>
        <p>
            <label class="common-label" for="{{ uform.is_active.auto_id }}">{{ uform.is_active.label }}</label>
            {{ uform.is_active }}
        </p>
    </fieldset>

    <fieldset>
        <legend>{% trans 'Member of' %}</legend>
        {% if group_list %}
        {% for obj in group_list %}
        <p>
            <label class="common-label" id="{{ obj.name }}-label" for="{{ obj.name }}-input">{{ obj.name }}</label>
            <input class="common-input" id="{{ obj.name }}-input" type="checkbox" name="{{ obj.name }}" {% if obj.checked %}checked{% endif %}/>
        </p>
        {% endfor %}
        {% endif %}
    </fieldset>
    <p>
        <input class="my-button" id="submit" type="submit" value="{% trans 'Save' %}" />
    </p>
</form>

{% endblock %}
