{% extends "base-with-aside-menu-content.html" %}

{% load i18n %}

{% block content %}

<h1 class="page-title">{% translate 'Board' %}</h1>
<form action="{% url 'admin_board_save' %}" method="post">
    {% csrf_token %}
    <input type="hidden" name="pk" value="{{ pk }}">

    <fieldset>
        <legend>{% translate 'Board' %}</legend>
        <p>
            <label class="common-label" for="{{ form.order.auto_id }}">{{ form.order.label }}</label>
            {{ form.order }}
        </p>
        <p>
            <label class="common-label" for="{{ form.member.auto_id }}">{{ form.member.label }}</label>
            {{ form.member }}
        </p>
        <p>
            <label class="common-label" for="{{ form.position.auto_id }}">{{ form.position.label }}</label>
            {{ form.position }}
        </p>
    </fieldset>
    <p>
        <input class="my-button" id="submit" type="submit" value="{% translate 'Save' %}" />
    </p>
</form>

{% endblock content %}
