{% extends "base-with-aside-menu-content.html" %}

{% load i18n %}

{% block content %}

<h1 class="page-title" id="messages">{% translate 'Waiting messages' %}</h1>

<table class="list full-width" aria-describedby="messages">
    <tr>
        <th class="hide-in-mobile">&nbsp;</th>
        <th>{% translate 'Recipient' %}</th>
        <th>{% translate 'Subject' %}</th>
        <th class="hide-in-mobile">{% translate 'Creation time' %}</th>
    </tr>

    {% if object_list %}
    {% for obj in object_list %}
    <tr>
        <td class="hide-in-mobile">{{ forloop.counter }}</td>
        <td>{{ obj.email }}</td>
        <td>{{ obj.subject }}</td>
        <td class="hide-in-mobile">{{ obj.creation_time|date:"d.m.Y H:i" }}</td>
    </tr>
    {% endfor %}
    {% endif %}
</table>

{% endblock content %}
