{% extends "base-with-aside-menu-content.html" %}

{% load i18n %}

{% block content %}

<h1 class="page-title">{% translate 'Group' %}</h1>
<form action="{% url 'admin_group_save' %}" method="post">
    {% csrf_token %}
    <input type="hidden" name="pk" value="{{ pk }}">

    <fieldset>
        <legend>{% translate 'Group' %}</legend>
        <p>
            <label class="common-label" for="{{ form.name.auto_id }}">{{ form.name.label }}</label>
            {{ form.name }}
        </p>
    </fieldset>

    <fieldset>
        <legend>{% translate 'Permissions' %}</legend>

        {% if permission_list %}
        {% for g in permission_list %}

        <fieldset>
            <legend class="legend-permissions">{% translate g.name %}</legend>
            {% for obj in g.perms %}
            <p>
                <label class="common-label-groups" id="{{ obj.codename }}-label" for="{{ obj.codename }}-input">{% translate obj.name %}</label>
                <input class="common-input-chck" id="{{ obj.codename }}-input" type="checkbox" name="{{ obj.codename }}" {% if obj.checked %}checked{% endif %}/>
            </p>
            {% endfor %}
        </fieldset>
        {% endfor %}
        {% endif %}
    </fieldset>
    <p>
        <input class="black-submit" id="submit" type="submit" value="{% translate 'Save' %}" />
    </p>
</form>

{% endblock content %}
