{% extends "base-with-aside-menu-content.html" %}

{% load article_filters i18n %}

{% block content %}

<h1 id="person" class="page-title">{{ usr.first_name }} {{ usr.last_name }}</h1>
<a class="secondary-button" href="{% url 'admin_user_edit' pk=usr.pk %}">{% translate 'Modify user' %}</a>

<table class="detail full-width" aria-describedby="person">
    <tr>
        <th scope="row">{% translate 'Salutation' %}</th>
        <td>{{ profile.salutation }}</td>
    </tr>
    <tr>
        <th scope="row">{% translate 'First name' %}</th>
        <td>{{ usr.first_name }}</td>
    </tr>
    <tr>
        <th scope="row">{% translate 'Last name' %}</th>
        <td>{{ usr.last_name }}</td>
    </tr>
    <tr>
        <th scope="row">{% translate 'Internal note' %}</th>
        <td>{{ profile.internal_note }}</td>
    </tr>
</table>

<h2 id="contact">{% translate 'Contact information' %}</h2>

<table class="detail full-width" aria-describedby="contact">
    <tr>
        <th scope="row">{% translate 'Address' %}</th>
        <td>{{ profile.address }}</td>
    </tr>
    <tr>
        <th scope="row">{% translate 'City' %}</th>
        <td>{{ profile.city }}</td>
    </tr>
    <tr>
        <th scope="row">{% translate 'Post code' %}</th>
        <td>{{ profile.post_code }}</td>
    </tr>
    <tr>
        <th scope="row">{% translate 'Country' %}</th>
        <td>{{ profile.country }}</td>
    </tr>
    <tr>
        <th scope="row">{% translate 'Phone' %}</th>
        <td>{{ profile.phone }}</td>
    </tr>
    <tr>
        <th scope="row">{% translate 'E-Mail' %}</th>
        <td><a href="mailto:{{ usr.email }}">{{ usr.email }}</a></td>
    </tr>
</table>

<h2 id="account">{% translate 'Login information' %}</h2>

<table class="detail full-width" aria-describedby="account">
    <tr>
        <th scope="row">{% translate 'Username' %}</th>
        <td>{{ usr.username }}</td>
    </tr>
    <tr>
        <th scope="row">{% translate 'Last login' %}</th>
        <td>{{ usr.last_login|date:"d.m.Y H:i" }}</td>
    </tr>
    <tr>
        <th scope="row">{% translate 'Active' %}</th>
        <td>{{ usr.is_active|yes_no }}</td>
    </tr>
    <tr>
        <th scope="row">{% translate 'Member of' %}</th>
        <td>
            <ul>
                {% for grp in user_group_list %}
                <li>{{ grp.name }}</li>
                {% endfor %}
            </ul>

        </td>
    </tr>
</table>

<h2 id="units">{% translate 'Building units' %}</h2>
<a class="secondary-button" href="{% url 'admin_user_owns' pk=usr.pk %}">{% translate 'Modify units' %}</a>

<table class="detail full-width" aria-describedby="units">
    <tr>
        <th scope="row">{% translate 'Units' %}</th>
        <td>
            <ul>
                {% for unit in usr.buildingunit_set.all|dictsort:'id' %}
                <li><a href="{% url 'admin_building_unit_owners' pk=unit.pk %}">{{ unit.type.description }} - {{ unit.registration_id }} - {{ unit.description }}</a></li>
                {% endfor %}
            </ul>

        </td>
    </tr>
</table>

<div class="back_to_list">
    <a class="secondary-button" href="{% url 'admin_user' %}#user_{{ usr.id }}">&lt;&lt;&nbsp{% translate 'Back to list' %}</a>
</div>

{% endblock content %}
