{% extends "base-with-aside-menu-content.html" %}

{% load i18n %}

{% block content %}

<h1 class="page-title">{% translate 'Company' %}</h1>
<form action="{% url 'admin_company_save' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <fieldset>
        <legend>{% translate 'Company' %}</legend>
        <p>
            <label class="common-label" for="{{ form.name.auto_id }}">{{ form.name.label }}</label>
            {{ form.name }}
        </p>
        <p>
            <label class="common-label" for="{{ form.address.auto_id }}">{{ form.address.label }}</label>
            {{ form.address }}
        </p>
        <p>
            <label class="common-label" for="{{ form.city.auto_id }}">{{ form.city.label }}</label>
            {{ form.city }}
        </p>
        <p>
            <label class="common-label" for="{{ form.post_code.auto_id }}">{{ form.post_code.label }}</label>
            {{ form.post_code }}
        </p>
        <p>
            <label class="common-label" for="{{ form.phone.auto_id }}">{{ form.phone.label }}</label>
            {{ form.phone }}
        </p>
        <p>
            <label class="common-label" for="{{ form.email.auto_id }}">{{ form.email.label }}</label>
            {{ form.email }}
        </p>
        <p>
            <label class="common-label" for="{{ form.registration_no.auto_id }}">{{ form.registration_no.label }}</label>
            {{ form.registration_no }}
        </p>
        <p>
            <label class="common-label" for="{{ form.vat_registration_no.auto_id }}">{{ form.vat_registration_no.label }}</label>
            {{ form.vat_registration_no }}
        </p>
        <p>
            <label class="common-label" for="{{ form.internet_domain.auto_id }}">{{ form.internet_domain.label }}</label>
            {{ form.internet_domain }}
        </p>
        <p>
            <label class="common-label" for="{{ form.header_picture.auto_id }}">{{ form.header_picture.label }}</label>
            {{ form.header_picture }}
        </p>
        {% if form.instance.header_picture %}
        <p><img src="/media/{{ form.instance.header_picture }}" alt="{% translate 'Company header' %}" width="80%" height="80%"></p>
        {% endif %}
    </fieldset>
    <p>
        <input class="black-submit" id="submit" type="submit" value="{% translate 'Save' %}" />
    </p>
</form>

{% endblock content %}
