{% extends "base-with-aside-menu-content.html" %}

{% load i18n %}

{% block content %}

<h1 class="page-title" id="tbl-desc">{% trans 'Preferences' %}</h1>
[<a href="{% url 'admin_preferences_edit' pk=0 %}">{% trans 'Create new entry' %}</a>]

<table class="list" aria-describedby="tbl-desc">
    <tr>
        <th class="list" scope="col">&nbsp;</th>
        <th class="list" scope="col">&nbsp;</th>
        <th class="list" scope="col">&nbsp;</th>
        <th class="list" scope="col">{% trans 'Key' %}</th>
        <th class="list" scope="col">{% trans 'Value' %}</th>
    </tr>

    {% if object_list %}
    {% for obj in object_list %}
    <tr>
        <td class="list">{{ forloop.counter }}</td>
        <td class="list"><a href="{% url 'admin_preferences_edit' pk=obj.pk %}"><img src="/static/gfx/pencil.png" border="0" title="{% trans 'Edit' %}" alt="{% trans 'Edit' %}"></a></td>
        <td class="list"><a href="{% url 'admin_preferences_delete' pk=obj.id %}"><img src="/static/gfx/delete.png" border="0" title="{% trans 'Delete' %}" alt="{% trans 'Delete' %}"></a></td>
        <td class="list">{{ obj.key }}</td>
        <td class="list">{{ obj.value }}</td>
    </tr>
    {% endfor %}
    {% endif %}
</table>

{% endblock %}
