{% extends "base-with-aside-menu-content.html" %}

{% load article_filters i18n %}

{% block content %}

<h1 class="page-title" id="users">{% translate 'User' %}</h1>

<div class="filter-container">

    <div class="filter-item">
        <p>
            <a class="secondary-button" href="{% url 'admin_user_edit' pk=0 %}">{% translate 'Create new user' %}</a>&nbsp;
            <a class="secondary-button" href="{% url 'admin_user_export_to_excel' %}">{% translate 'Export to Excel' %}</a>&nbsp;
        </p>
    </div>

    <div class="filter-item">
        <p>{% translate 'Deactivated users' %}</p>
    </div>
    <div class="filter-item">
        <p>
        <form action="{% url 'admin_user' %}" method="get">
            <input type="checkbox" name="deactivated_users" {% if deactivated_users %}checked{% endif %}  onchange='this.form.submit()'  />
        </form>
        </p>
    </div>

    <div class="filter-item">
        <p>{% translate 'Group' %}</p>
    </div>
    <div class="filter-item">
        <p>
        <form action="{% url 'admin_user' %}" method="get">
            <select name='group_filter' class='common-input' onchange='this.form.submit()'>
                <option value="0">-------</option>
                {% for r in group_list %}
                <option value="{{ r.pk }}" {% if group_filter == r.pk %}selected{% endif %}>{{ r.name }}</option>
                {% endfor %}
            </select>
        </form>
        </p>
    </div>
</div>

<table class="list full-width" aria-describedby="users">
    <tr>
        <th class="hide-in-mobile">&nbsp;</th>
        <th class="icon">&nbsp;</th>
        <th>{% translate 'Last name' %}</th>
        <th>{% translate 'First name' %}</th>
        <th class="hide-in-mobile">{% translate 'E-Mail' %}</th>
        <th class="hide-in-mobile">{% translate 'Last login' %}</th>
    </tr>

    {% if object_list %}
    {% for obj in object_list %}
    <tr id="user_{{ obj.pk }}">
        <td class="hide-in-mobile">{{ forloop.counter }}</td>
        <td class="icon"><a href="{% url 'admin_user_detail' pk=obj.pk %}"><img src="/static/gfx/find.png" class="led" title="{% translate 'Detail' %}" alt="{% translate 'Detail' %}"></a></td>
        <td>{{ obj.last_name }}</td>
        <td>{{ obj.first_name }}</td>
        <td class="hide-in-mobile"><a href="mailto:{{ obj.email }}">{{ obj.email }}</a></td>
        <td class="hide-in-mobile">{{ obj.last_login|date:"d.m.Y H:i" }}</td>
    </tr>
    {% endfor %}
    {% endif %}
</table>

{% endblock content %}
