{% extends "base-with-aside-menu-content.html" %}

{% load article_filters i18n %}

{% block content %}

<h1 class="page-title" id="tbl-desc">{% translate 'Adverts' %}: {{ scope_description }}</h1>

{% if perms.articles.svjis_add_advert %}
<a href="{% url 'adverts_edit' pk=0 %}" class="create-button">{% translate 'Create new advert' %}</a><br>
{% endif %}

{% if object_list %}
{% for obj in object_list %}

<!-- advert -->&nbsp;
<div class="advert_c{{ obj.type.id }}">
    <div class="advert-desc">
        <h2 {% if not obj.published %}style="text-decoration: line-through;"{% endif %}>{{ obj.header }}</h2>
        <p class="info">
            <a href="{% url 'adverts_list' %}?scope={{ obj.type.description }}">{{ obj.type.description }}</a>: <strong>{{ obj.created_date|date:"d.m.Y" }}</strong>, {% translate 'Author' %}: <strong>{{ obj.created_by_user.first_name }}&nbsp;{{ obj.created_by_user.last_name }}</strong>
            {% if obj.created_by_user == user %}
            &nbsp;[<a href="{% url 'adverts_edit' pk=obj.pk %}">{% translate 'Edit' %}</a>]
            {% endif %}

        </p>
        <div class="body">
            <p>{{ obj.body|replace_url_to_link|linebreaks }}</p>

            {% if obj.assets %}
            <p>
            {% for a in obj.assets %}
                <img src="/static/gfx/{{ a.icon }}" class="led" alt="{{ a.basename }}">&nbsp;<a href="/media/{{ a.file }}">{{ a.basename }}</a>&nbsp;
            {% endfor %}
            </p>
            {% endif %}
        </div>
        <p class="contact">
            {% if obj.phone %}{% translate 'Phone' %}:&nbsp;<strong>{{ obj.phone }}</strong><br>{% endif %}
            {% if obj.email %}{% translate 'E-Mail' %}:&nbsp;<strong><a href="mailto:{{ obj.email }}">{{ obj.email }}</a></strong>{% endif %}
        </p>
    </div>
</div>

{% endfor %}
{% endif %}

{% endblock content %}
