{% extends "base-with-aside-menu-content.html" %}

{% load i18n %}

{% block content %}

<h1 class="page-title">{% translate 'Adverts' %}</h1>
<form action="{% url 'adverts_save' %}" method="post">
    {% csrf_token %}
    <input type="hidden" name="pk" value="{{ pk }}">

    <p>
        {{ form.type.label }}<br>
        {{ form.type }}
    </p>
    <p>
        {{ form.header.label }}<br>
        {{ form.header }}
    </p>
    <p>
        {{ form.body.label }}<br>
        {{ form.body }}
    </p>

    <fieldset>
        <legend>{% translate 'Properties' %}</legend>
        <p>
            <label class="common-label" for="{{ form.phone.auto_id }}">{{ form.phone.label }}</label>
            {{ form.phone }}
        </p>
        <p>
            <label class="common-label" for="{{ form.email.auto_id }}">{{ form.email.label }}</label>
            {{ form.email }}
        </p>
        <p>
            <label class="common-label" for="{{ form.published.auto_id }}">{{ form.published.label }}</label>
            {{ form.published }}
        </p>
    </fieldset>
    <p>
        <input class="my-button" id="submit" type="submit" value="{% translate 'Save' %}" />
    </p>
</form>

{% if pk != 0 %}
    <h2>{% translate 'Assets' %}</h2>
    <form action="{% url 'adverts_asset_save' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="hidden" name="advert_pk" value="{{ form.instance.pk }}">
        <fieldset>
            <legend>{% translate 'Assets' %}</legend>
            <p>
                {% if assets %}
                <table class="list" aria-describedby="tbl-desc">
                    <tr>
                        <th class="list" scope="col">&nbsp;</th>
                        <th class="list" scope="col">{% translate 'Description' %}</th>
                        <th class="list" scope="col">{% translate 'File' %}</th>
                        <th class="list" scope="col">&nbsp;</th>
                    </tr>
                    {% for a in assets %}
                    <tr>
                        <td class="list"><img src="/static/gfx/{{ a.icon }}" border="0" alt="{{ a.basename }}"></td>
                        <td class="list" id="asset_name_{{ a.asset.pk }}">{{ a.asset.description }}</td>
                        <td class="list" id="asset_file_{{ a.asset.pk }}"><a href="/media/{{ a.asset.file }}">{{ a.basename }}</a></td>
                        <td class="list"><a onclick="if (!confirm('{% translate 'Do you want to delete' %} {{ a.asset.description }} ?')) return false;" href="{% url 'adverts_asset_delete' pk=a.asset.id %}"><img src="/static/gfx/delete.png" border="0" title="{% translate 'Delete' %}" alt="{% translate 'Delete' %}"></a></td>
                    </tr>
                    {% endfor %}
                </table>
                {% endif %}
            </p>
            <p>
                <label class="common-label" for="{{ asset_form.description.auto_id }}">{{ asset_form.description.label }}</label>
                {{ asset_form.description }}
            </p>
            <p>
                <label class="common-label" for="{{ asset_form.file.auto_id }}">{{ asset_form.file.label }}</label>
                {{ asset_form.file }}
            </p>
        </fieldset>
        <p>
            <input class="my-button" id="submit2" type="submit" value="{% translate 'Upload' %}" />
        </p>
    </form>
{% endif %}

{% endblock content %}
