{% extends "base-with-aside-menu-content.html" %}

{% load article_filters %}
{% load i18n %}

{% block content %}

<div class="article-detail">
    <div class="article-desc">
        <h1 class="article-title" id="tbl-desc">{{ obj.header | highlight:search | safe }}</h1>
        <p class="info">
            <a href="{% url 'main_filtered' menu=obj.menu.id %}">{{ obj.menu.description }}</a>:  <strong>{{ obj.created_date | date:"d.m.Y" }}</strong>, {% trans 'Author' %}: <strong>{{ obj.author.first_name }}&nbsp;{{ obj.author.last_name }}</strong>{% if obj.comments %}, {% trans 'Comments' %}: <strong>{{ obj.comments | length }}</strong>{% endif %}
        </p>
        {{ obj.perex | highlight:search | safe }}
        {{ obj.body | inject_pictures:assets | highlight:search | safe }}
    </div>
</div>

{% if assets %}
<p>
    <table class="list" aria-describedby="tbl-desc">
        <tr>
            <th class="list" scope="col">&nbsp;</th>
            <th class="list" scope="col">{% trans 'Assets' %}:</th>
        </tr>
        {% for a in assets %}
        <tr>
            <td class="list"><img src="/static/gfx/{{ a.icon }}" border="0" alt="{{ a.basename }}"></td>
            <td class="list"><a href="/media/{{ a.asset.file }}">{{ a.basename }}</a></td>
        </tr>
        {% endfor %}
    </table>
</p>
{% endif %}

{% if obj.comments %}
<h2 class="article-title">{% trans 'Comments' %}:</h2>
{% for comment in obj.comments %}
<div class="article box"><strong>{{ comment.author.first_name }}&nbsp;{{ comment.author.last_name }} {{ comment.created_date | date:"d.m.Y H:i" }}</strong>
    <br>{{ comment.body | replace_url_to_link | linebreaks | safe }}
</div>
{% endfor %}
{% endif %}


{% if perms.articles.svjis_add_article_comment and obj.allow_comments %}

    {% if user in obj.watching_users.all %}
    [<a href="{% url 'article_watch' %}?id={{ obj.pk }}&watch=0">{% trans 'Stop watching discussion' %}</a>]
    {% else %}
    [<a href="{% url 'article_watch' %}?id={{ obj.pk }}&watch=1">{% trans 'Start watching discussion' %}</a>]
    {% endif %}

<form action="{% url 'article_comment_save' %}" method="post">
    {% csrf_token %}
    <input type="hidden" name="article_pk" value="{{ obj.pk }}">
    <p>
        <textarea
           id="body"
           name="body"
           rows="7"
           wrap
           style="width:100%;"
        ></textarea>
    </p>
    <p>
        <input class="my-button" id="submit" type="submit" value="{% trans 'Insert comment' %}" name="submit">
    </p>
</form>
{% endif %}

{% endblock %}
