{% extends "base-with-aside-menu-content.html" %}

{% load article_filters i18n %}

{% block content %}

<h1 class="article-title">{% translate 'Modify comment' %}</h1>

<form action="{% url 'article_comment_modify' %}" method="post">
    {% csrf_token %}
    <input type="hidden" name="comment_pk" value="{{ obj.pk }}">
    <p>
        <textarea
        id="body"
        name="body"
        rows="7"
        wrap
        class="common-textarea"
        >{{ obj.body }}</textarea>
    </p>
    <p>
        <input class="black-submit" id="submit" type="submit" value="{% translate 'Save' %}" name="submit">
    </p>
</form>

{% endblock content %}
