<!-- Aside -->
<div id="aside">
    <div id="aside-top"></div>

    <!-- Categories -->
    <div class="padding">
        <h4 class="nom">Články:</h4>
    </div> <!-- /padding -->

    <ul class="nav">
        <li  id="nav-active"><a href="Dispatcher?page=articleList">Všechny články</a></li>
        <li ><a href="Dispatcher?page=articleList&section=4">Dokumenty</a></li>
        <li ><a href="Dispatcher?page=articleList&section=12">Dotazy a návody</a></li>
        <li ><a href="Dispatcher?page=articleList&section=6">English texts</a></li>
        <li ><a href="Dispatcher?page=articleList&section=15">Nápady a připomínky</a></li>
        <li ><a href="Dispatcher?page=articleList&section=5">Reklamace</a></li>
        <li ><a href="Dispatcher?page=articleList&section=3">Smlouvy</a></li>
        <li ><a href="Dispatcher?page=articleList&section=16">Údržba, opravy, technické otázky</a></li>
        <li ><a href="Dispatcher?page=articleList&section=7">Úklid</a></li>
        <li ><a href="Dispatcher?page=articleList&section=1">Vývěska</a></li>
        <li ><a href="Dispatcher?page=articleList&section=2">Zápisy</a></li>
        <li ><a href="Dispatcher?page=articleList&section=14">Zpravodaj</a></li>
    </ul>

    <div class="padding">
        {% include 'search.html' %}
        {% include 'login.html' %}
    </div> <!-- /padding -->

    <hr class="noscreen" />
</div> <!-- /aside -->

<div id="aside-bottom"></div>
