<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="content-language" content="cs" />

    <link rel="stylesheet" media="screen,projection" type="text/css" href="/static/css/reset.css" />
    <link rel="stylesheet" media="screen,projection" type="text/css" href="/static/css/main.css" />
    <!--[if lte IE 6]><link rel="stylesheet" type="text/css" href="/static/css/main-msie.css" /><![endif]-->
    <link rel="stylesheet" media="screen,projection" type="text/css" href="/static/css/style.css" />
    <link rel="stylesheet" media="print" type="text/css" href="/static/css/print.css" />

    <title>Společenství vlastníků domu Polní, Praha 10</title>
</head>

<body>
    <div id="main">
        {% include 'header.html' %}
        {% include 'tray-menu.html' %}
        {% include 'messages.html' %}
        {% block sitecontent %}

        {% endblock %}
        {% include 'footer.html' %}
    </div>
</body>

</html>
