{% load article_filters i18n %}
{% get_current_language as LANGUAGE_CODE %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="content-language" content="cs" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/styles.css" />
    <title>{{ web_title|default:"SVJIS2" }}</title>
</head>

<body>
    <div class="wrapper1">
        <div class="wrapper2">
            {% include 'header.html' %}
            {% include 'tray-menu.html' %}
            {% include 'messages.html' %}
            <main>
            {% block sitecontent %}

            {% endblock sitecontent %}
            </main>
            {% include 'footer.html' %}
        </div>
    </div>
    <script>
        document.querySelector(".menu-toggle").addEventListener("click", function () {
            const menu = document.querySelector(".menu");
            const sidemenu = document.querySelector(".side-menu");
            menu.classList.toggle("active");
            sidemenu.classList.toggle("active");
        });
    </script>
</body>

</html>
