{% load i18n %}

{% if survey_list %}
{% for obj in survey_list %}
<!-- Inquiry -->
<div class="box-02-top"></div>
<div class="box-02-top-b box">
    <span class="f-left"><strong>{% trans 'Survey' %}</strong></span>
</div> <!-- /box-02-top-b -->
<div class="box-02 box">
    <strong>{{ obj.description }}</strong>

    <form action="Dispatcher" method="post">
        {% csrf_token %}
        <input type="hidden" name="pk" value="{{ obj.pk }}">

            {% for o in obj.options %}
            <p><input id="vote-1" type="radio" name="i_5" value="o_12">&nbsp;{{ o.description }}&nbsp;-&nbsp;<em>0%</em><br>
                <img src="/static/gfx/inq_0212.gif" width="0" height="22" alt="Bar">
            {% endfor %}

        <p>
            <input type="submit" id="vote-submit" value="{% trans 'Vote' %}" />
        </p>
    </form>

</div> <!-- /box-02 -->
<div class="box-02-bottom"></div>
{% endfor %}
{% endif %}
