{% load i18n %}

<!-- News -->
<div class="box-01-top"></div>

 <div class="box-01-top-b box">
    <span class="f-right">&nbsp;</span>
    <span class="f-left"><strong>{% trans 'News' %}</strong></span>
</div> <!-- /box-01-top-b -->

<div class="box-01">

    <dl class="news box">
        <dt>
            SRP<br /><span>31</span>
        </dt>
        <dd>
            <span>@ 15:00</span><br /><a href="/Dispatcher?page=articleDetail&id=40"><strong>Důležité kontakty</strong></a>
        </dd>
    </dl>

    <div class="bg">

        <dl class="news box">
            <dt>
                SRP<br /><span>21</span>
            </dt>
            <dd>
                <span>@ 12:00</span><br /><a href="Dispatcher?page=articleDetail&id=395">Práva a povinnosti vlastníka jednotky</a> vyplývající z Občanského zákoníku (ve znění platném od 1.1.2014)
                <br/>
                <a href="Dispatcher?page=articleDetail&id=396">Práva a povinnosti vlastníka jednotky</a> dle stanov Společenství vlastníků Rižská 1491
            </dd>
        </dl>
    </div> <!-- /bg -->

</div> <!-- /box-01 -->
<div class="box-01-bottom"></div>
