{% load i18n %}

{% if survey_list %}
{% for obj in survey_list %}
<!-- Inquiry -->
<div class="box-02-top"></div>
<div class="box-02-top-b box">
    <span class="f-left"><strong>{% trans 'Survey' %}</strong></span>
</div> <!-- /box-02-top-b -->
<div class="box-02 box">
    <strong>{{ obj.description }}</strong>

    <form action="{% url 'article_survey_vote' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="pk" value="{{ obj.pk }}">

            {% for o in obj.options %}
            <p>
                <input id="vote-{{ forloop.counter }}" type="radio" name="i_{{ obj.pk }}" value="{{ o.pk }}">&nbsp;{{ o.description }}&nbsp;-&nbsp;<em>{{ o.pct }}%</em><br>
                <img src="/static/gfx/inq_0212.gif" width="0" height="22" alt="Bar">
            </p>
            {% endfor %}

        <p>
            <input type="submit" id="vote-submit" value="{% trans 'Vote' %}" />
        </p>
    </form>

</div> <!-- /box-02 -->
<div class="box-02-bottom"></div>
{% endfor %}
{% endif %}
