{% load i18n %}

{% if top_articles %}
<!-- Most readed articles -->
<div class="box-02-top"></div>
<div class="box-02-top-b box">
    <span class="f-left"><strong>{% trans 'Top articles' %}</strong></span>
</div> <!-- /box-02-top-b -->

<div class="box-02 box">
    <ul class="mostreaded">
        {% for ta in top_articles %}
        <li><span class="f-right">{{ ta.total }}&times</span><a href="{% url 'article' slug=ta.article.slug %}">{{ ta.article.header }}</a></li>
        {% endfor %}
    </ul>

</div> <!-- /box-02 -->
<div class="box-02-bottom"></div>
{% endif %}
