{% load i18n %}

{% if news_list %}
<!-- News -->
<div class="box-01-top"></div>

 <div class="box-01-top-b box">
    <span class="f-right">&nbsp;</span>
    <span class="f-left"><strong>{% trans 'News' %}</strong></span>
</div> <!-- /box-01-top-b -->

<div class="box-01">

    {% for news in news_list %}
        {% if forloop.counter|divisibleby:2 %}<div class="bg">{% endif %}
            <dl class="news box">
                <dt>
                    {{ news.created_date|date:"M"|upper }}<br /><span>{{ news.created_date|date:"d" }}</span>
                </dt>
                <dd>
                    <span>@ {{ news.created_date|date:"H:i" }}</span><br />{{ news.body | safe }}
                </dd>
            </dl>
        {% if forloop.counter|divisibleby:2 %}</div> <!-- /bg -->{% endif %}
    {% endfor %}

</div> <!-- /box-01 -->
<div class="box-01-bottom"></div>
{% endif %}
