{% extends "base-with-aside-menu-content.html" %}

{% load i18n %}

{% block content %}

<h1 class="page-title" id="tbl-desc">{{ company.name }}</h1>

<table border="0" aria-describedby="tbl-desc">
    {% if company.address %}
    <tr>
        <th scope="row" style="text-align: left">{% trans 'Address' %}:&nbsp;</th>
        <td>{{ company.address }}</td>
    </tr>
    {% endif %}
    {% if company.city %}
    <tr>
        <th scope="row" style="text-align: left">{% trans 'City' %}:&nbsp;</th>
        <td>{{ company.city }}</td>
    </tr>
    {% endif %}
    {% if company.post_code %}
    <tr>
        <th scope="row" style="text-align: left">{% trans 'Post code' %}:&nbsp;</th>
        <td>{{ company.post_code }}</td>
    </tr>
    {% endif %}
    {% if company.phone %}
    <tr>
        <th scope="row" style="text-align: left">{% trans 'Phone' %}:&nbsp;</th>
        <td>{{ company.phone }}</td>
    </tr>
    {% endif %}
    {% if company.email %}
    <tr>
        <th scope="row" style="text-align: left">{% trans 'E-Mail' %}:&nbsp;</th>
        <td><a href="{{ company.email }}">{{ company.email }}</a></td>
    </tr>
    {% endif %}
    {% if company.registration_no %}
    <tr>
        <th scope="row" style="text-align: left">{% trans 'Registration No.' %}:&nbsp;</th>
        <td>{{ company.registration_no }}</td>
    </tr>
    {% endif %}
    {% if company.vat_registration_no %}
    <tr>
        <th scope="row" style="text-align: left">{% trans 'VAT Registration No.' %}:&nbsp;</th>
        <td>{{ company.vat_registration_no }}</td>
    </tr>
    {% endif %}
    {% if company.internet_domain %}
    <tr>
        <th scope="row" style="text-align: left">{% trans 'Internet domain' %}:&nbsp;</th>
        <td>{{ company.internet_domain }}</td>
    </tr>
    {% endif %}
</table>

{% if board_list %}
<table border="0" aria-describedby="tbl-desc">
    <tr>
        <th scope="col" style="text-align: left" colspan="3">Výbor:&nbsp;</th>
    </tr>
    {% for obj in board_list %}
    <tr>
        <td>{{ obj.member.userprofile.salutation }}&nbsp;</td>
        <td>{{ obj.member.first_name }}&nbsp;{{ obj.member.last_name }}&nbsp;&nbsp;</td>
        <td>{{ obj.position }}&nbsp;</td>
    </tr>
    {% endfor %}
</table>
{% endif %}

{% endblock %}
