{% extends "base-with-aside-menu-content.html" %}

{% load i18n %}

{% block content %}

<h1 class="page-title" id="phonelist">{% translate 'Phonelist' %}</h1>

<table class="list full-width" aria-describedby="phonelist">
    <tr>
        <th class="hide-on-mobile">&nbsp;</th>
        <th>{% translate 'Name' %}</th>
        <th>{% translate 'Phone' %}</th>
        <th>{% translate 'E-Mail' %}</th>
    </tr>

    {% if object_list %}
    {% for obj in object_list %}
    <tr>
        <td class="hide-on-mobile">{{ forloop.counter }}</td>
        <td>{{ obj.last_name }} {{ obj.first_name }}</td>
        <td>{{ obj.userprofile.phone }}</td>
        <td><a href="mailto:{{ obj.email }}">{{ obj.email }}</a></td>
    </tr>
    {% endfor %}
    {% endif %}
</table>

{% endblock content %}
