{% extends "base-with-aside-menu-content.html" %}

{% load i18n %}
{% load article_filters %}

{% block content %}

<h1 class="page-title" id="tbl-desc">{{ header }}</h1>

{% if perms.articles.svjis_fault_reporter %}
<a href="{% url 'faults_fault_create' %}" class="create-button">{% trans 'Report fault or request' %}</a>
{% endif %}

<table class="list" aria-describedby="tbl-desc">
    <tr>
        <th class="list" scope="col">&nbsp;</th>
        <th class="list" scope="col">{% trans 'Ticket no.' %}</th>
        <th class="list" scope="col">{% trans 'Date' %}</th>
        <th class="list" scope="col">{% trans 'Subject' %}</th>
        <th class="list" scope="col">{% trans 'Entrance' %}</th>
        <th class="list" scope="col">{% trans 'Author' %}</th>
        <th class="list" scope="col">{% trans 'Resolver' %}</th>
    </tr>

    {% if object_list %}
    {% for obj in object_list %}
    <tr>
        <td class="list" {% if obj.closed %}style="background-color:#d0d0d0;text-decoration: line-through;"{% endif %}><a {% if search != '' %} href="{% url 'fault' slug=obj.slug %}?search={{ search }}" {% else %} href="{% url 'fault' slug=obj.slug %}" {% endif %}><img src="/static/gfx/find.png" border="0" title="{% trans 'View' %}" alt="{% trans 'View' %}"></a></td>
        <td class="list" {% if obj.closed %}style="background-color:#d0d0d0;text-decoration: line-through;"{% endif %}>{{ obj.pk }}</td>
        <td class="list" {% if obj.closed %}style="background-color:#d0d0d0;text-decoration: line-through;"{% endif %}>{{ obj.created_date|date:"d.m.Y" }}</td>
        <td class="list" {% if obj.closed %}style="background-color:#d0d0d0;text-decoration: line-through;"{% endif %}>{{ obj.subject | highlight:search | safe }}</td>
        <td class="list" {% if obj.closed %}style="background-color:#d0d0d0;text-decoration: line-through;"{% endif %}>{{ obj.entrance.description }}</td>
        <td class="list" {% if obj.closed %}style="background-color:#d0d0d0;text-decoration: line-through;"{% endif %}>{{ obj.created_by_user.first_name }}&nbsp;{{ obj.created_by_user.last_name }}</td>
        <td class="list" {% if obj.closed %}style="background-color:#d0d0d0;text-decoration: line-through;"{% endif %}>{{ obj.assigned_to_user.first_name }}&nbsp;{{ obj.assigned_to_user.last_name }}</td>
    </tr>
    {% endfor %}
    {% endif %}
</table>

{% endblock %}
