{% extends "base-with-aside-menu-content.html" %}

{% load i18n %}

{% block content %}

<h1 class="page-title" id="tbl-desc">{% translate 'Fault report' %}</h1>

<form action="{% url 'faults_fault_create_save' %}" method="post">
    {% csrf_token %}
    <input type="hidden" name="pk" value="{{ pk }}" />
    <p>
        <label class="label" for="{{ form.subject.auto_id }}">{{ form.subject.label }}</label><br>
        {{ form.subject }}
    </p>
    <p>
        <label class="label" for="{{ form.entrance.auto_id }}">{{ form.entrance.label }}</label><br>
        {{ form.entrance }}
    </p>
    <p>
        <label class="label" for="{{ form.description.auto_id }}">{{ form.description.label }}</label><br>
        {{ form.description }}
    </p>
    {% if perms.articles.svjis_fault_resolver %}
    <p>
        <label class="label" for="{{ form.created_by_user.auto_id }}">{{ form.created_by_user.label }}</label><br>
        {{ form.created_by_user }}
    </p>
    {% endif %}
    {% if perms.articles.svjis_fault_resolver %}
    <p>
        <label class="label" for="{{ form.assigned_to_user.auto_id }}">{{ form.assigned_to_user.label }}</label><br>
        {{ form.assigned_to_user }}
    </p>
    {% endif %}
    <p>
        <input class="black-submit" id="submit" type="submit" value="{% translate 'Save' %}" />
    </p>
</form>

{% endblock content %}
