{% extends "base-with-aside-menu-content.html" %}

{% load i18n %}

{% block content %}

<h1 class="page-title">#{{ obj.pk }} - {{ obj.subject }}</h1>

{% if obj.logs.all %}
    <h2 class="comment-title">{% translate 'Logs' %}:</h2>
    <table class="list full-width" aria-describedby="tbl-desc">
    <tr>
        <th class="list" scope="col">{% translate 'User' %}</th>
        <th class="list" scope="col">{% translate 'Type' %}</th>
        <th class="list" scope="col">{% translate 'Resolver' %}</th>
        <th class="list" scope="col">{% translate 'Entry time' %}</th>
    </tr>
    {% for log in obj.logs.all %}
        <tr>
            <td class="list">{{ log.user }}</td>
            <td class="list">{{ log.get_type_display }}</td>
            <td class="list">{{ log.resolver }}</td>
            <td class="list">{{ log.entry_time|date:"d.m.Y H:i" }}</td>
        </tr>
    {% endfor %}
    </table>
{% endif %}

{% endblock content %}
