{% extends "base-with-aside-menu-content.html" %}

{% load article_filters i18n %}

{% block content %}

<h1 class="page-title" id="tbl-desc">{{ header }}</h1>

{% if perms.articles.svjis_fault_reporter %}
<a href="{% url 'faults_fault_create' %}" class="create-button">{% translate 'Report fault or request' %}</a>
{% endif %}

<table class="list" aria-describedby="tbl-desc">
    <tr>
        <th class="list" scope="col">&nbsp;</th>
        <th class="list" scope="col">{% translate 'Ticket no.' %}</th>
        <th class="list" scope="col">{% translate 'Date' %}</th>
        <th class="list" scope="col">{% translate 'Subject' %}</th>
        <th class="list" scope="col">{% translate 'Entrance' %}</th>
        <th class="list" scope="col">{% translate 'Author' %}</th>
        <th class="list" scope="col">{% translate 'Resolver' %}</th>
    </tr>

    {% if object_list %}
    {% for obj in object_list %}
    <tr>
        <td class="list" {% if obj.closed %}style="background-color:#d0d0d0;text-decoration: line-through;"{% endif %}><a {% if search != '' %} href="{% url 'fault' slug=obj.slug %}?search={{ search }}" {% else %} href="{% url 'fault' slug=obj.slug %}" {% endif %}><img src="/static/gfx/find.png" border="0" title="{% translate 'View' %}" alt="{% translate 'View' %}"></a></td>
        <td class="list" {% if obj.closed %}style="background-color:#d0d0d0;text-decoration: line-through;"{% endif %}>{{ obj.pk }}</td>
        <td class="list" {% if obj.closed %}style="background-color:#d0d0d0;text-decoration: line-through;"{% endif %}>{{ obj.created_date|date:"d.m.Y" }}</td>
        <td class="list" {% if obj.closed %}style="background-color:#d0d0d0;text-decoration: line-through;"{% endif %}>{{ obj.subject|highlight:search|safe }}</td>
        <td class="list" {% if obj.closed %}style="background-color:#d0d0d0;text-decoration: line-through;"{% endif %}>{{ obj.entrance.description }}</td>
        <td class="list" {% if obj.closed %}style="background-color:#d0d0d0;text-decoration: line-through;"{% endif %}>{{ obj.created_by_user.first_name }}&nbsp;{{ obj.created_by_user.last_name }}</td>
        <td class="list" {% if obj.closed %}style="background-color:#d0d0d0;text-decoration: line-through;"{% endif %}>{{ obj.assigned_to_user.first_name }}&nbsp;{{ obj.assigned_to_user.last_name }}</td>
    </tr>
    {% endfor %}
    {% endif %}
</table>

{% endblock content %}
