{% extends "base-with-aside-menu-content.html" %}

{% load article_filters i18n %}

{% block content %}

<h1 class="page-title"  {% if obj.closed %}style="text-decoration: line-through;"{% endif %}>#{{ obj.pk }} - {{ obj.subject|highlight:search }}</h1>

{% if perms.articles.svjis_fault_resolver %}
    [<a href="{% url 'faults_fault_edit' pk=obj.pk %}">{% translate 'Edit' %}</a>]&nbsp;
{% endif %}

{% if perms.articles.svjis_fault_resolver and not obj.closed and obj.assigned_to_user != user %}
    [<a href="{% url 'faults_fault_take_ticket' pk=obj.pk %}">{% translate 'Take ticket' %}</a>]&nbsp;
{% endif %}

{% if perms.articles.svjis_fault_resolver and not obj.closed and obj.assigned_to_user == user %}
    [<a href="{% url 'faults_fault_close_ticket' pk=obj.pk %}">{% translate 'Close ticket' %}</a>]&nbsp;
{% endif %}

{% if perms.articles.svjis_view_fault_menu %}
    [<a href="{% url 'faults_fault_logs' slug=obj.slug %}">{% translate 'View log' %}</a>]&nbsp;
{% endif %}

{% if user in obj.watching_users.all %}
    [<a href="{% url 'fault_watch' %}?id={{ obj.pk }}&watch=0">{% translate 'Stop watching ticket' %}</a>]
    {% else %}
    [<a href="{% url 'fault_watch' %}?id={{ obj.pk }}&watch=1">{% translate 'Start watching ticket' %}</a>]
{% endif %}

<table class="list full-width" aria-describedby="tbl-desc">
    <tr>
        <th class="list" width="25%" scope="row">{% translate 'Date' %}</th>
        <td class="list" width="75%">{{ obj.created_date|date:"d.m.Y H:i" }}</td>
    </tr>
    <tr>
        <th class="list" scope="row">{% translate 'Creator' %}</th>
        <td class="list">{{ obj.created_by_user.first_name }}&nbsp;{{ obj.created_by_user.last_name }}</td>
    </tr>
    <tr>
        <th class="list" scope="row">{% translate 'Resolver' %}</th>
        <td class="list">{{ obj.assigned_to_user.first_name }}&nbsp;{{ obj.assigned_to_user.last_name }}</td>
    </tr>
    <tr>
        <th class="list" scope="row">{% translate 'Closed' %}</th>
        <td class="list">{{ obj.closed|yes_no }}</td>
    </tr>
    <tr>
        <th class="list" scope="row">{% translate 'Entrance' %}</th>
        <td class="list">{{ obj.entrance.description }} - {{ obj.entrance.address }}</td>
    </tr>
    <tr>
        <td class="list" colspan="2">{{ obj.description|replace_url_to_link|linebreaks|inject_pictures:obj.assets|highlight:search }}</td>
    </tr>
</table>


{% if pk != 0 %}
    <h2 class="comment-title" id="assets">{% translate 'Assets' %}:</h2>
    {% if obj.assets %}
    <table class="list full-width" aria-describedby="tbl-desc">
        <tr>
            <th class="list" scope="col">&nbsp;</th>
            <th class="list" scope="col">{% translate 'File' %}</th>
            <th class="list" scope="col">{% translate 'Description' %}</th>
            <th class="list" scope="col">{% translate 'User' %}</th>
            <th class="list hide-in-mobile" scope="col">{% translate 'Time' %}</th>
            <th class="list" scope="col">&nbsp;</th>
        </tr>
        {% for a in obj.assets %}
        <tr>
            <td class="list"><img src="/static/gfx/{{ a.icon }}" class="led" alt="{{ a.basename }}"></td>
            <td class="list" id="asset_file_{{ a.pk }}"><a href="/media/{{ a.file }}">{{ a.basename }}</a></td>
            <td class="list" id="asset_name_{{ a.pk }}">{{ a.description }}</td>
            <td class="list" id="asset_user_{{ a.pk }}">{{ a.created_by_user.first_name }}&nbsp;{{ a.created_by_user.last_name }}</td>
            <td class="list hide-in-mobile" id="asset_time_{{ a.pk }}">{{ a.created_date|date:"d.m.Y H:i" }}</td>
            {% if a.created_by_user == user %}
            <td class="list"><a onclick="if (!confirm('{% translate 'Do you want to delete' %} {{ a.description }} ?')) return false;" href="{% url 'faults_fault_asset_delete' pk=a.id %}"><img src="/static/gfx/delete.png" class="led" title="{% translate 'Delete' %}" alt="{% translate 'Delete' %}"></a></td>
            {% else %}
            <td class="list">&nbsp;</td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
    {% endif %}

    {% if not obj.closed %}
    <form action="{% url 'faults_fault_asset_save' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="hidden" name="fault_pk" value="{{ obj.pk }}">
        <fieldset>
            <legend>{% translate 'Add asset' %}</legend>
            <p>
                <label class="common-label" for="{{ asset_form.description.auto_id }}">{{ asset_form.description.label }}</label>
                {{ asset_form.description }}
            </p>
            <p>
                <label class="common-label" for="{{ asset_form.file.auto_id }}">{{ asset_form.file.label }}</label>
                {{ asset_form.file }}
            </p>
        </fieldset>
        <p>
            <input class="black-submit" id="submit2" type="submit" value="{% translate 'Upload' %}" />
        </p>
    </form>
    {% endif %}
{% endif %}

<h2 id="comments" class="comment-title">{% translate 'Comments' %}:</h2>
{% for comment in obj.comments %}
<div id="comment_{{ comment.id }}" class="comment-box"><strong>{{ comment.author.first_name }}&nbsp;{{ comment.author.last_name }} {{ comment.created_date|date:"d.m.Y H:i" }}</strong>
    {% if comment.author == user and comment.is_editable %}
        [<a href="{% url 'fault_comment_edit' pk=comment.id %}">{% translate 'Modify' %}</a>]
    {% endif %}
    <br>{{ comment.body|replace_url_to_link|linebreaks }}
</div>
{% endfor %}

{% if perms.articles.svjis_add_fault_comment and not obj.closed %}
<form action="{% url 'fault_comment_save' %}" method="post">
    {% csrf_token %}
    <input type="hidden" name="fault_pk" value="{{ obj.pk }}">
    <p>
        {{ comment_form.body }}
    </p>
    <p>
        <input class="black-submit" id="submit" type="submit" value="{% translate 'Insert comment' %}" name="submit">
    </p>
</form>
{% endif %}

<div class="back_to_list">
    [<a href="{% url 'faults_list' %}?scope=open">&lt;&lt;&nbsp{% translate 'Back to fault list' %}</a>]
</div>

{% endblock content %}
