<!-- Footer -->
<div id="footer">

    <!-- Do you want remove this backlinks? Look at www.nuviotemplates.com/payment.php -->
    <p class="f-right"><a href="http://www.nuviotemplates.com/">Free web templates</a> presented by <a href="http://www.qartin.cz/">QARTIN</a> &ndash; Our tip: <a href="http://last-minute.invia.sk" title="Last Minute">Last Minute</a> <a href="http://wycieczki.invia.pl" title="Wczasy">Wczasy</a></p>
    <!-- Do you want remove this backlinks? Look at www.nuviotemplates.com/payment.php -->

    <p>

        System <strong><a href="https://svjis.github.io/">SVJIS</a> v2.2.0-SNAPSHOT</strong> released 20.4.2024, All Rights Reserved &reg; 2007-{% now "Y" %}
    </p>

</div> <!-- /footer -->
