{% extends "base-with-aside-menu-content.html" %}

{% load i18n %}

{% block content %}

<h1 class="page-title" id="units">{{ user.first_name }} {{ user.last_name }}</h1>

<table class="list" aria-describedby="units">
    <tr>
        <th>&nbsp;</th>
        <th>{% translate 'Type' %}</th>
        <th>{% translate 'Registration Id' %}</th>
        <th>{% translate 'Description' %}</th>
    </tr>

    {% if user.buildingunit_set.all %}
    {% for obj in user.buildingunit_set.all|dictsort:"registration_id" %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ obj.type.description }}</td>
        <td>{{ obj.registration_id }}</td>
        <td>{{ obj.description }}</td>
    </tr>
    {% endfor %}
    {% endif %}
</table>

{% endblock content %}
