{% extends "base-with-aside-menu-content.html" %}

{% load i18n %}

{% block content %}

<h1 class="page-title">{{ user.first_name }}&nbsp;{{ user.last_name }}</h1>
<form action="{% url 'personal_settings_password_save' %}" method="post">
    {% csrf_token %}
    <fieldset>
        <legend>{% trans 'Password change' %}</legend>
        <p>
            <label class="common-label" id="currpass-label" for="currpass-input">{% trans 'Current password' %}</label>
            <input class="common-input" id="currpass-input" type="password" name="old_password" maxlength="30" size="50" value="" />
        </p>
        <p>
            <label class="common-label" id="newpass1-label" for="newpass1-input">{% trans 'New password' %}</label>
            <input class="common-input" id="newpass1-input" type="password" name="new_password_1" maxlength="30" size="50" value="" />
        </p>
        <p>
            <label class="common-label" id="newpass2-label" for="newpass2-input">{% trans 'New password once again' %}</label>
            <input class="common-input" id="newpass2-input" type="password" name="new_password_2" maxlength="30" size="50" value="" />
        </p>
    </fieldset>
    <p>
        <input class="my-button" id="submit" type="submit" value="{% trans 'Save' %}" />
    </p>
</form>

{% endblock %}
