{% extends "base-with-aside-menu-content.html" %}

{% load article_filters i18n %}

{% block content %}

<h1 class="page-title">{{ user.first_name }}&nbsp;{{ user.last_name }}</h1>
<form action="{% url 'personal_settings_save' %}" method="post">
    {% csrf_token %}

    <fieldset>
        <legend>{% translate 'Person' %}</legend>
        <p>
            <label class="common-label" for="{{ pform.salutation.auto_id }}">{{ pform.salutation.label }}</label>
            {{ pform.salutation }}
        </p>
        <p>
            <label class="common-label" for="{{ uform.first_name.auto_id }}">{{ uform.first_name.label }}</label>
            {{ uform.first_name }}
        </p>
        <p>
            <label class="common-label" for="{{ uform.last_name.auto_id }}">{{ uform.last_name.label }}</label>
            {{ uform.last_name }}
        </p>
    </fieldset>
    <fieldset>
        <legend>{% translate 'Contact information' %}</legend>
        <p>
            <label class="common-label" for="{{ pform.address.auto_id }}">{{ pform.address.label }}</label>
            {{ pform.address }}
        </p>
        <p>
            <label class="common-label" for="{{ pform.city.auto_id }}">{{ pform.city.label }}</label>
            {{ pform.city }}
        </p>
        <p>
            <label class="common-label" for="{{ pform.post_code.auto_id }}">{{ pform.post_code.label }}</label>
            {{ pform.post_code }}
        </p>
        <p>
            <label class="common-label" for="{{ pform.country.auto_id }}">{{ pform.country.label }}</label>
            {{ pform.country }}
        </p>
        <p>
            <label class="common-label" for="{{ pform.phone.auto_id }}">{{ pform.phone.label }}</label>
            {{ pform.phone }}
        </p>
        <p>
            <label class="common-label" for="{{ uform.email.auto_id }}">{{ uform.email.label }}</label>
            {{ uform.email }}
        </p>
        <p>
            <label class="common-label" for="{{ pform.show_in_phonelist.auto_id }}">{{ pform.show_in_phonelist.label }}</label>
            {{ pform.show_in_phonelist }}
        </p>
    </fieldset>
    <p>
        <input class="black-submit" id="submit" type="submit" value="{% translate 'Save' %}" />
    </p>
</form>

<form method="post" action="{% url 'set_language' %}">
    {% csrf_token %}
    <fieldset>
        <legend>{% translate 'Language' %}</legend>
        <p>
            <label  class="common-label" for="language-select">{% translate "Prefered language" %}:</label>
            {% get_current_language as current_language %}
            <select  class="common-input" id="language-select" name="language" onchange="this.form.submit()">
                {% get_current_language as current_language %}
                {% get_languages as languages %}
                {% for code, name in languages %}
                <option value="{{ code }}" {% if current_language == code %}selected{% endif %}>{{ name }}</option>
                {% endfor %}
            </select>
        </p>
    </fieldset>
</form>

{% endblock content %}
