{% extends "base-with-aside-menu-content.html" %}

{% load article_filters i18n %}

{% block content %}

<h1 class="page-title">{{ user.first_name }}&nbsp;{{ user.last_name }}</h1>

<form method="post" action="{% url 'set_language' %}">
    {% csrf_token %}
    <fieldset>
        <legend>{% translate 'Language' %}</legend>
        <p>
            <label  class="common-label" for="language-select">{% translate "Preferred language" %}:</label>
            {% get_current_language as current_language %}
            <select  class="common-input" id="language-select" name="language" onchange="this.form.submit()">
                {% get_current_language as current_language %}
                {% get_languages as languages %}
                {% for code, name in languages %}
                <option value="{{ code }}" {% if current_language == code %}selected{% endif %}>{{ name }}</option>
                {% endfor %}
            </select>
        </p>
    </fieldset>
</form>

{% endblock content %}
