{% extends "base-with-aside-menu-content.html" %}

{% load article_filters i18n %}

{% block content %}

<h1 class="page-title" id="menu">{% translate 'Menu' %}</h1>
<a class="secondary-button" href="{% url 'redaction_menu_edit' pk=0 %}">{% translate 'Create new menu entry' %}</a>

<table class="list" aria-describedby="menu">
    <tr>
        <th class="icon">&nbsp;</th>
        <th class="icon">&nbsp;</th>
        <th>{% translate 'Name' %}</th>
        <th>{% translate 'Parent' %}</th>
        <th>{% translate 'Level' %}</th>
        <th>{% translate 'Hide' %}</th>
        <th>{% translate 'Articles' %}</th>
    </tr>

    {% if object_list %}
    {% for obj in object_list %}
    <tr>
        <td class="icon"><a href="{% url 'redaction_menu_edit' pk=obj.item.pk %}"><img src="/static/gfx/pencil.png" class="led" title="{% translate 'Edit' %}" alt="{% translate 'Edit' %}"></a></td>
        <td class="icon">
            {% if obj.articles == 0 %}
            <a onclick="if (!confirm('{% translate 'Do you want to delete' %} {{ obj.item.description }} ?')) return false;" href="{% url 'redaction_menu_delete' pk=obj.item.pk %}"><img src="/static/gfx/delete.png" class="led" title="{% translate 'Delete' %}" alt="{% translate 'Delete' %}"></a>
            {% endif %}
        </td>
        <td {% if obj.level > 1 %}style="background-color:#f1948a;"{% endif %}>{% with range=''|center:obj.level %}{% for _ in range %}&nbsp;&nbsp;&nbsp;{% endfor %}{% endwith %}{{ obj.item.description }}</td>
        <td>{{ obj.item.parent.description }}</td>
        <td {% if obj.level > 1 %}style="background-color:#f1948a;"{% endif %}>{{ obj.level }}</td>
        <td>{{ obj.item.hide|yes_no }}</td>
        <td>{{ obj.articles }}</td>
    </tr>
    {% endfor %}
    {% endif %}
</table>

{% endblock content %}
