{% extends "base-with-aside-menu-content.html" %}

{% load article_filters i18n %}

{% block content %}

<h1 class="page-title" id="notifications">{% translate 'Send notifications' %} - {{ article.header }}</h1>


<form action="{% url 'redaction_article_notifications_send' %}" method="post">
    {% csrf_token %}
    <input type="hidden" name="pk" value="{{ article.pk }}">

    <table class="list full-width" aria-describedby="notifications" id="recipient-list">
        <tr>
            <th><input id="check-all" type="checkbox" checked onchange="checkAll();"/></th>
            <th>{% translate 'Last name' %}</th>
            <th>{% translate 'First name' %}</th>
            <th class="hide-on-mobile">{% translate 'E-Mail' %}</th>
        </tr>

        {% if object_list %}
        {% for obj in object_list %}
        <tr>
            <td><input type="checkbox" name="u_{{ obj.pk }}" checked /></td>
            <td>{{ obj.last_name }}</td>
            <td>{{ obj.first_name }}</td>
            <td class="hide-on-mobile"><a href="mailto:{{ obj.email }}">{{ obj.email }}</a></td>
        </tr>
        {% endfor %}
        {% endif %}
    </table>
    <p>
        <input id="submit" class="black-submit" type="submit" value="{% translate 'Submit' %}" />
    </p>
</form>

<script src="/static/js/Redaction_ArticleSendNotifications.js"></script>

{% endblock content %}
