{% extends "base-with-aside-menu.html" %}

{% block content %}
<div id="content-main">
    <div id="content-main-in">

        <h1 class="page-title" id="tbl-desc">Menu</h1>
        [<a href="{% url 'redaction_menu_edit' pk=0 %}">Přidat novou položku menu</a>]

        <table class="list" aria-describedby="tbl-desc">
            <tr>
                <th class="list" scope="col">Název položky menu</th>
                <th class="list" scope="col">&nbsp;</th>
                <th class="list" scope="col">&nbsp;</th>
            </tr>

            {% if object_list %}
            {% for obj in object_list %}
            <tr>
            <td class="list" style="">{{ obj.description }}</td><td class="list"><a href="{% url 'redaction_menu_edit' pk=obj.id %}"><img src="/static/gfx/pencil.png" border="0" title="Editovat"></a></td>
            </tr>
            {% endfor %}
            {% endif %}
        </table>

    </div> <!-- /content-main-in -->
</div> <!-- /content-main -->
<hr class="noscreen" />
{% endblock %}
