{% extends "base-with-aside-menu.html" %}

{% block content %}
<div id="content-main">
    <div id="content-main-in">

        <h1 class="page-title">Menu</h1>
        <form action="{% url 'redaction_menu_save' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="pk" value="{{ pk }}">

            <fieldset>
                <legend>Položka menu</legend>
                {{ form.as_p }}
            </fieldset>
            <p>
                <input class="my-button" id="submit" type="submit" value="Uložit" />
            </p>
        </form>


    </div> <!-- /content-main-in -->
</div> <!-- /content-main -->
<hr class="noscreen" />
{% endblock %}
