{% extends "base-with-aside-menu-content.html" %}

{% block content %}

<h1 class="page-title" id="tbl-desc">Article</h1>
[<a href="{% url 'redaction_article_edit' pk=0 %}">Přidat nový článek</a>]

<table class="list" aria-describedby="tbl-desc">
    <tr>
        <th class="list" scope="col">Článek</th>
        <th class="list" scope="col">Datum</th>
        <th class="list" scope="col">Autor</th>
        <th class="list" scope="col">Publikován</th>
        <th class="list" scope="col">&nbsp;</th>
        <th class="list" scope="col">&nbsp;</th>
    </tr>

    {% if object_list %}
    {% for obj in object_list %}
    <tr>
    <td class="list" style="">{{ obj.header }}</td>
    <td class="list" style="">{{ obj.created_date|date:"d.m.Y" }}</td>
    <td class="list" style="">{{ obj.author.first_name }}&nbsp;{{ obj.author.last_name }}</td>
    <td class="list" style="">{{ obj.published }}</td>
    <td class="list"><a href="{% url 'redaction_article_edit' pk=obj.id %}"><img src="/static/gfx/pencil.png" border="0" title="Editovat"></a></td>
    <td class="list"><a href="{% url 'redaction_article_delete' pk=obj.id %}"><img src="/static/gfx/delete.png" border="0" title="Smazat"></a></td>
    </tr>
    {% endfor %}
    {% endif %}
</table>

{% endblock %}
