{% extends "base-with-aside-menu-content.html" %}

{% load i18n %}

{% block content %}

<h1 class="page-title" id="tbl-desc">{{ header }}</h1>
[<a href="{% url 'redaction_survey_edit' pk=0 %}">{% trans 'Create new survey' %}</a>]

<table class="list" aria-describedby="tbl-desc">
    <tr>
        <th class="list" scope="col">&nbsp;</th>
        <th class="list" scope="col">&nbsp;</th>
        <th class="list" scope="col">&nbsp;</th>
        <th class="list" scope="col">&nbsp;</th>
        <th class="list" scope="col">{% trans 'Description' %}</th>
        <th class="list" scope="col">{% trans 'Starting date' %}</th>
        <th class="list" scope="col">{% trans 'Ending date' %}</th>
        <th class="list" scope="col">{% trans 'Author' %}</th>
        <th class="list" scope="col">{% trans 'Published' %}</th>

    </tr>

    {% if object_list %}
    {% for obj in object_list %}
    <tr>
        <td class="list"><a href="{% url 'redaction_survey_edit' pk=obj.id %}"><img src="/static/gfx/pencil.png" border="0" title="{% trans 'Edit' %}" alt="{% trans 'Edit' %}"></a></td>
        <td class="list"><a href="{% url 'redaction_survey_results' pk=obj.id %}"><img src="/static/gfx/chart_bar.png" border="0" title="{% trans 'Results' %}" alt="{% trans 'Results' %}"></a></td>
        <td class="list"><a href="{% url 'redaction_survey_results_export_to_excel' pk=obj.id %}"><img src="/static/gfx/Files_xls.gif" border="0" title="{% trans 'Export results to Excel' %}" alt="{% trans 'Export results to Excel' %}"></a></td>
        <td class="list"><a onclick="if (!confirm('{% trans 'Do you want to delete this survey' %} ?')) return false;" href="{% url 'redaction_survey_delete' pk=obj.id %}"><img src="/static/gfx/delete.png" border="0" title="{% trans 'Delete' %}" alt="{% trans 'Delete' %}"></a></td>
        <td class="list">{{ obj.description | safe }}</td>
        <td class="list">{{ obj.starting_date|date:"d.m.Y" }}</td>
        <td class="list">{{ obj.ending_date|date:"d.m.Y" }}</td>
        <td class="list">{{ obj.author.first_name }}&nbsp;{{ obj.author.last_name }}</td>
        <td class="list">{{ obj.published }}</td>
    </tr>
    {% endfor %}
    {% endif %}
</table>

{% endblock %}
