{% extends "base-with-aside-menu-content.html" %}

{% load i18n %}

{% block content %}

{{ form.media }}

<h1 class="page-title">{% trans 'Article' %}</h1>
<form action="{% url 'redaction_article_save' %}" method="post">
    {% csrf_token %}
    <input type="hidden" name="pk" value="{{ pk }}">
    <p>
        {{ form.header.label }}<br>
        {{ form.header }}
    </p>
    <p>
        {{ form.perex.label }}<br>
        {{ form.perex }}
    </p>
    <p>
        {{ form.body.label }}<br>
        {{ form.body }}
    </p>
    <fieldset>
        <legend>{% trans 'Properties' %}</legend>
        <p>
            <label class="common-label" for="{{ form.menu.auto_id }}">{{ form.menu.label }}</label>
            {{ form.menu }}
        </p>
        <p>
            <label class="common-label" for="{{ form.allow_comments.auto_id }}">{{ form.allow_comments.label }}</label>
            {{ form.allow_comments }}
        </p>
        <p>
            <label class="common-label" for="{{ form.published.auto_id }}">{{ form.published.label }}</label>
            {{ form.published }}
        </p>
    </fieldset>
    <fieldset>
        <legend>{% trans 'Visible for' %}</legend>
        <p>
            <label class="common-label" for="{{ form.visible_for_all.auto_id }}">{{ form.visible_for_all.label }}</label>
            {{ form.visible_for_all }}
        </p>
        {% if group_list %}
        {% for obj in group_list %}
        <p>
            <label class="common-label" id="{{ obj.name }}-label" for="{{ obj.name }}-input">{{ obj.name }}</label>
            <input class="common-input" id="{{ obj.name }}-input" type="checkbox" name="{{ obj.name }}" {% if obj.checked %}checked{% endif %}/>
        </p>
        {% endfor %}
        {% endif %}
    </fieldset>
    <p>
        <input class="my-button" id="submit" type="submit" value="{% trans 'Save' %}" />
    </p>
</form>


{% if pk != 0 %}
<h2 class="page-title">{% trans 'Assets' %}</h2>

{% if assets %}
<table class="list" aria-describedby="tbl-desc">
    <tr>
        <th class="list" scope="col">&nbsp;</th>
        <th class="list" scope="col">{% trans 'Name' %}</th>
        <th class="list" scope="col">{% trans 'Path' %}</th>
        <th class="list" scope="col">{% trans 'Link' %}</th>
        <th class="list" scope="col">{% trans 'Link as picture' %}</th>
        <th class="list" scope="col">&nbsp;</th>
    </tr>
    {% for a in assets %}
    <tr>
        <td class="list"><img src="/static/gfx/{{ a.icon }}" border="0" alt="{{ a.basename }}"></td>
        <td class="list" id="asset_name_{{ a.asset.pk }}">{{ a.asset.description }}</td>
        <td class="list" id="asset_path_{{ a.asset.pk }}">/media/{{ a.asset.file }}</td>
        <td class="list" style="text-align: center;"><button onclick="copyToClipboardAsLink('asset_name_{{ a.asset.pk }}', 'asset_path_{{ a.asset.pk }}', false)">{% trans 'Copy to clipboard' %}</button></td>
        <td class="list" style="text-align: center;"><button onclick="copyToClipboardAsLink('asset_name_{{ a.asset.pk }}', 'asset_path_{{ a.asset.pk }}', true)">{% trans 'Copy to clipboard' %}</button></td>
        <td class="list"><a onclick="if (!confirm('{% trans 'Do you want to delete' %} {{ a.asset.description }} ?')) return false;" href="{% url 'redaction_article_asset_delete' pk=a.asset.id %}"><img src="/static/gfx/delete.png" border="0" title="{% trans 'Delete' %}" alt="{% trans 'Delete' %}"></a></td>
    </tr>
    {% endfor %}
</table>

<script src="/static/js/utils.js"></script>
{% endif %}

<form action="{% url 'redaction_article_asset_save' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="hidden" name="article_pk" value="{{ pk }}">

    <fieldset>
        <legend>{% trans 'Assets' %}</legend>
        <p>
            <label class="common-label" for="{{ asset_form.description.auto_id }}">{{ asset_form.description.label }}</label>
            {{ asset_form.description }}
        </p>
        <p>
            <label class="common-label" for="{{ asset_form.file.auto_id }}">{{ asset_form.file.label }}</label>
            {{ asset_form.file }}
        </p>
    </fieldset>
    <p>
        <input class="my-button" id="submit2" type="submit" value="{% trans 'Upload' %}" />
    </p>
</form>
{% endif %}

{% endblock %}
