{% extends "base-with-aside-menu-content.html" %}

{% load article_filters i18n %}

{% block content %}

<h1 class="page-title" id="tbl-desc">{{ header }}</h1>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="/static/js/Create_Chart.js"></script>

<div style="max-width: 400px; max-height: 400px; margin: 0 auto;">
    <canvas id="browserChart"></canvas>
</div>
<div style="max-width: 400px; max-height: 400px; margin: 0 auto;">
    <canvas id="osChart"></canvas>
</div>

<script>
    const browserData = sortDataInPlace({
        labels: [{% for key, value in bsd.items %}'{{ key }}', {% endfor %}],
        values: [{% for key, value in bsd.items %}{{ value }}, {% endfor %}],
    });

    const browserChart = new Chart(
        document.getElementById('browserChart').getContext('2d'),
        createChartConfig('pie', browserData, {
            title: '{% translate 'Browser' %}',
            legendPosition: 'right'
        })
    );

    const osData = sortDataInPlace({
        labels: [{% for key, value in osd.items %}'{{ key }}', {% endfor %}],
        values: [{% for key, value in osd.items %}{{ value }}, {% endfor %}],
    });

    const osChart = new Chart(
        document.getElementById('osChart').getContext('2d'),
        createChartConfig('pie', osData, {
            title: '{% translate 'Operating System' %}',
            legendPosition: 'right'
        })
    );
</script>

<table class="list full-width" aria-describedby="tbl-desc" style="font-size: 70%;">
    <tr>
        <th class="list" scope="col">{% translate 'Count' %}</th>
        <th class="list" scope="col">{% translate 'Browser' %}</th>
        <th class="list" scope="col">{% translate 'Os' %}</th>
    </tr>

    {% if object_list %}
    {% for obj in object_list %}
    <tr>
        <td class="list">{{ obj.total }}</td>
        <td class="list">{{ obj.browser }}</td>
        <td class="list">{{ obj.os }}</td>
    </tr>
    <tr>
        <td class="list">{{ obj.total }}</td>
        <td class="list" colspan="3">{{ obj.user_agent }}</td>
    </tr>
    {% endfor %}
    {% endif %}
</table>

{% endblock content %}
