{% extends "base-with-aside-menu-content.html" %}

{% load i18n %}

{% block content %}

<h1 class="page-title">{% trans 'Article' %}</h1>
<form action="{% url 'redaction_article_save' %}" method="post">
    {% csrf_token %}
    <input type="hidden" name="pk" value="{{ pk }}">
    <p>
        {{ form.header.label }}<br>
        {{ form.header }}
    </p>
    <p>
        {{ form.perex.label }}<br>
        {{ form.perex }}
    </p>
    <p>
        {{ form.body.label }}<br>
        {{ form.body }}
    </p>
    <fieldset>
        <legend>{% trans 'Properties' %}</legend>
        <p>
            <label class="common-label" for="{{ form.menu.auto_id }}">{{ form.menu.label }}</label>
            {{ form.menu }}
        </p>
        <p>
            <label class="common-label" for="{{ form.allow_comments.auto_id }}">{{ form.allow_comments.label }}</label>
            {{ form.allow_comments }}
        </p>
        <p>
            <label class="common-label" for="{{ form.published.auto_id }}">{{ form.published.label }}</label>
            {{ form.published }}
        </p>
    </fieldset>
    <p>
        <input class="my-button" id="submit" type="submit" value="{% trans 'Save' %}" />
    </p>
</form>


{% if pk != 0 %}
<h2 class="page-title">{% trans 'Assets' %}</h2>

{% if form.instance.assets %}
<table class="list" aria-describedby="tbl-desc">
    <tr>
        <th class="list" scope="col">{% trans 'Name' %}</th>
        <th class="list" scope="col">{% trans 'Insert as Link' %}</th>
        <th class="list" scope="col">{% trans 'Insert as Picture' %}</th>
        <th class="list" scope="col">&nbsp;</th>
    </tr>
    {% for obj in form.instance.assets %}
    <tr>
        <td class="list">{{ obj.description }}</td>
        <td class="list">[{{ obj.description }}](/media/{{ obj.file }})</td>
        <td class="list">![{{ obj.description }}](/media/{{ obj.file }})</td>
        <td class="list"><a href="{% url 'redaction_article_asset_delete' pk=obj.id %}"><img src="/static/gfx/delete.png" border="0" title="{% trans 'Delete' %}" alt="{% trans 'Delete' %}"></a></td>
    </tr>
    {% endfor %}
</table>
{% endif %}

<form action="{% url 'redaction_article_asset_save' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="hidden" name="article_pk" value="{{ pk }}">

    <fieldset>
        <legend>{% trans 'Assets' %}</legend>
        <p>
            <label class="common-label" for="{{ asset_form.description.auto_id }}">{{ asset_form.description.label }}</label>
            {{ asset_form.description }}
        </p>
        <p>
            <label class="common-label" for="{{ asset_form.file.auto_id }}">{{ asset_form.file.label }}</label>
            {{ asset_form.file }}
        </p>
    </fieldset>
    <p>
        <input class="my-button" id="submit2" type="submit" value="{% trans 'Upload' %}" />
    </p>
</form>
{% endif %}

{% endblock %}
