{% extends "base-with-aside-menu-content.html" %}

{% load article_filters i18n %}

{% block content %}

<h1 class="page-title" id="tbl-desc">{{ header }}</h1>
[<a href="{% url 'redaction_article_edit' pk=0 %}">{% translate 'Create new article' %}</a>]

<table class="list" aria-describedby="tbl-desc">
    <tr>
        <th class="list" scope="col">&nbsp;</th>
        <th class="list" scope="col">&nbsp;</th>
        <th class="list" scope="col">&nbsp;</th>
        <th class="list" scope="col">{% translate 'Article' %}</th>
        <th class="list" scope="col">{% translate 'Menu' %}</th>
        <th class="list" scope="col">{% translate 'Author' %}</th>
        <th class="list" scope="col">{% translate 'Date' %}</th>
        <th class="list" scope="col">{% translate 'Published' %}</th>
    </tr>

    {% if object_list %}
    {% for obj in object_list %}
    <tr>
        <td class="list"><a href="{% url 'article' slug=obj.slug %}?search={{ search }}"><img src="/static/gfx/find.png" border="0" title="{% translate 'View' %}" alt="{% translate 'View' %}"></a></td>
        <td class="list"><a href="{% url 'redaction_article_edit' pk=obj.id %}"><img src="/static/gfx/pencil.png" border="0" title="{% translate 'Edit' %}" alt="{% translate 'Edit' %}"></a></td>
        <td class="list"><a href="{% url 'redaction_article_notifications' pk=obj.id %}"><img src="/static/gfx/email_open_image.png" border="0" title="{% translate 'Send notifications' %}" alt="{% translate 'Send notifications' %}"></a></td>
        <td class="list">{{ obj.header|highlight:search|safe }}</td>
        <td class="list">{{ obj.menu.description }}</td>
        <td class="list">{{ obj.author.first_name }}&nbsp;{{ obj.author.last_name }}</td>
        <td class="list">{{ obj.created_date|date:"d.m.Y" }}</td>
        <td class="list">{{ obj.published|yes_no }}</td>
    </tr>
    {% endfor %}
    {% endif %}
</table>

{% endblock content %}
