{% extends "base-with-aside-menu-content.html" %}

{% load i18n %}

{% block content %}

<h1 class="page-title">{% translate 'Menu' %} {{ form.instance.description }}</h1>
<form action="{% url 'redaction_menu_save' %}" method="post">
    {% csrf_token %}
    <input type="hidden" name="pk" value="{{ pk }}">

    <fieldset>
        <legend>{% translate 'Menu entry' %}</legend>
        <p>
            <label class="common-label" for="{{ form.description.auto_id }}">{{ form.description.label }}</label>
            {{ form.description }}
        </p>
        <p>
            <label class="common-label" for="{{ form.parent.auto_id }}">{{ form.parent.label }}</label>
            {{ form.parent }}
        </p>
        <p>
            <label class="common-label" for="{{ form.hide.auto_id }}">{{ form.hide.label }}</label>
            {{ form.hide }}
        </p>
    </fieldset>
    <p>
        <input class="black-submit" id="submit" type="submit" value="{% translate 'Save' %}" />
    </p>
</form>

{% endblock content %}
