{% extends "base-with-aside-menu-content.html" %}

{% load article_filters i18n %}

{% block content %}

<h1 class="page-title" id="news">{{ header }}</h1>
<a class="secondary-button" href="{% url 'redaction_news_edit' pk=0 %}">{% translate 'Create new news' %}</a>

<table class="list full-width" aria-describedby="news">
    <tr>
        <th class="icon">&nbsp;</th>
        <th class="icon">&nbsp;</th>
        <th class="hide-on-mobile">{% translate 'Date' %}</th>
        <th class="hide-on-mobile">{% translate 'Author' %}</th>
        <th>{% translate 'Published' %}</th>
        <th>{% translate 'Body' %}</th>
    </tr>

    {% if object_list %}
    {% for obj in object_list %}
    <tr>
        <td class="icon"><a href="{% url 'redaction_news_edit' pk=obj.id %}"><img src="/static/gfx/pencil.png" class="led" title="{% translate 'Edit' %}" alt="{% translate 'Edit' %}"></a></td>
        <td class="icon"><a onclick="if (!confirm('{% translate 'Do you want to delete this news' %}?')) return false;" href="{% url 'redaction_news_delete' pk=obj.id %}"><img src="/static/gfx/delete.png" class="led" title="{% translate 'Delete' %}" alt="{% translate 'Delete' %}"></a></td>
        <td class="hide-on-mobile">{{ obj.created_date|date:"d.m.Y H:i" }}</td>
        <td class="hide-on-mobile">{{ obj.author.first_name }}&nbsp;{{ obj.author.last_name }}</td>
        <td>{{ obj.published|yes_no }}</td>
        <td>{{ obj.body|safe }}</td>
    </tr>
    {% endfor %}
    {% endif %}
</table>

{% endblock content %}
