{% extends "base-with-aside-menu-content.html" %}

{% load i18n %}

{% block content %}

<h1 class="page-title">{% translate 'Survey' %}</h1>
<form action="{% url 'redaction_survey_save' %}" method="post">
    {% csrf_token %}
    <input type="hidden" name="pk" value="{{ pk }}">
    <p>
        <label class="label" for="{{ form.description.auto_id }}">{{ form.description.label }}</label>
        {{ form.description }}
    </p>
    <fieldset>
        <legend>{% translate 'Options' %}</legend>
        <table border="0" aria-describedby="tbl-desc">
            <tbody id="opt_parent">

                {% if form.instance.pk %}
                {% for obj in form.instance.options %}
                <tr id="opt_{{ forloop.counter }}">
                    <th scope="row" style="text-align: left">{% translate 'Option' %}&nbsp;{{ forloop.counter }}:&nbsp;</th>
                    <td>
                        <input type="hidden" name="oid_{{ forloop.counter }}" value="{{ obj.pk }}">
                        <input class="common-input" id="o{{ forloop.counter }}-input" type="text" name="o_{{ forloop.counter }}" size="50" maxlength="250" value="{{ obj.description }}">
                    </td>
                    <td><td class="list"><a onclick="if (!confirm('{% translate 'Do you want to delete this option' %} ?')) return false;" href="{% url 'redaction_survey_option_delete' pk=obj.pk %}"><img src="/static/gfx/delete.png" class="led" title="{% translate 'Delete' %}" alt="{% translate 'Delete' %}"></a></td></td>
                </tr>
                {% endfor %}
                {% endif %}
                <tr id="opt_{{ new_option_no }}">
                    <th scope="row" style="text-align: left">{% translate 'Option' %}&nbsp;{{ new_option_no }}:&nbsp;</th>
                    <td>
                        <input type="hidden" name="oid_{{ new_option_no }}" value="0">
                        <input class="common-input" id="o{{ new_option_no }}-input" type="text" name="o_{{ new_option_no }}" size="50" maxlength="250" value="">
                    </td>
                    <td>&nbsp;</td>
                </tr>
            </tbody>
        </table>
        <div id="add-remove-buttons" class="container" style="display: none;">
            <div class="row">
                <div class="left">
                    <p><input id="add-option" type="button" value="{% translate 'Add option' %}" onclick="addOption();" /></p>
                </div>
                <div class="left">
                    <p><input id="remove-option" type="button" value="{% translate 'Remove option' %}" onclick="removeOption();" disabled /></p>
                </div>
            </div>
        </div>
    </fieldset>

    <fieldset>
        <legend>{% translate 'Properties' %}</legend>
        <p>
            <label class="common-label" for="{{ form.starting_date.auto_id }}">{{ form.starting_date.label }}</label>
            {{ form.starting_date }}
        </p>
        <p>
            <label class="common-label" for="{{ form.ending_date.auto_id }}">{{ form.ending_date.label }}</label>
            {{ form.ending_date }}
        </p>
        <p>
            <label class="common-label" for="{{ form.published.auto_id }}">{{ form.published.label }}</label>
            {{ form.published }}
        </p>
    </fieldset>
    <p>
        <input class="black-submit" id="submit" type="submit" value="{% translate 'Save' %}" />
    </p>
</form>

<script src="/static/js/Redaction_InquiryEdit.js"></script>

{% endblock content %}
