{% extends "base-with-aside-menu-content.html" %}

{% load i18n %}

{% block content %}

{{ form.media }}

<h1 class="page-title">{% translate 'Article' %}</h1>
<form action="{% url 'redaction_article_save' %}" method="post">
    {% csrf_token %}
    <input type="hidden" name="pk" value="{{ pk }}">
    <p>
        {{ form.header.label }}<br>
        {{ form.header }}
    </p>
    <p>
        {{ form.perex.label }}<br>
        {{ form.perex }}
    </p>
    <p>
        {{ form.body.label }}<br>
        {{ form.body }}
    </p>
    <fieldset>
        <legend>{% translate 'Properties' %}</legend>
        <p>
            <label class="common-label" for="{{ form.menu.auto_id }}">{{ form.menu.label }}</label>
            {{ form.menu }}
        </p>
        <p>
            <label class="common-label" for="{{ form.allow_comments.auto_id }}">{{ form.allow_comments.label }}</label>
            {{ form.allow_comments }}
        </p>
        <p>
            <label class="common-label" for="{{ form.published.auto_id }}">{{ form.published.label }}</label>
            {{ form.published }}
        </p>
    </fieldset>
    <fieldset>
        <legend>{% translate 'Visible for' %}</legend>
        <p>
            <label class="common-label" for="{{ form.visible_for_all.auto_id }}">{{ form.visible_for_all.label }}</label>
            {{ form.visible_for_all }}
        </p>
        {% if group_list %}
        {% for obj in group_list %}
        <p>
            <label class="common-label" id="{{ obj.name }}-label" for="{{ obj.name }}-input">{{ obj.name }}</label>
            <input class="common-input-chck" id="{{ obj.name }}-input" type="checkbox" name="{{ obj.name }}" {% if obj.checked %}checked{% endif %}/>
        </p>
        {% endfor %}
        {% endif %}
    </fieldset>
    <p>
        <input class="black-submit" id="submit" type="submit" value="{% translate 'Save' %}" />
    </p>
</form>


{% if pk != 0 %}
<h2 class="page-title" id="assets">{% translate 'Assets' %}</h2>

{% if form.instance.assets %}
<table class="list" aria-describedby="tbl-desc">
    <tr>
        <th class="list" scope="col">&nbsp;</th>
        <th class="list" scope="col">&nbsp;</th>
        <th class="list" scope="col">{% translate 'Name' %}</th>
        <th class="list" scope="col">{% translate 'Description' %}</th>
    </tr>
    {% for a in form.instance.assets %}
    <tr>
        <td class="list"><a onclick="if (!confirm('{% translate 'Do you want to delete' %} {{ a.description }} ?')) return false;" href="{% url 'redaction_article_asset_delete' pk=a.id %}"><img src="/static/gfx/delete.png" class="led" title="{% translate 'Delete' %}" alt="{% translate 'Delete' %}"></a></td>
        <td class="list"><img src="/static/gfx/{{ a.icon }}" class="led" alt="{{ a.basename }}"></td>
        <td class="list" id="asset_path_{{ a.pk }}"><a href="/media/{{ a.file }}">{{ a.basename }}</a></td>
        <td class="list" id="asset_name_{{ a.pk }}">{{ a.description }}</td>
    </tr>
    {% endfor %}
</table>
{% endif %}

<form action="{% url 'redaction_article_asset_save' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="hidden" name="article_pk" value="{{ pk }}">

    <fieldset>
        <legend>{% translate 'Assets' %}</legend>
        <p>
            <label class="common-label" for="{{ asset_form.description.auto_id }}">{{ asset_form.description.label }}</label>
            {{ asset_form.description }}
        </p>
        <p>
            <label class="common-label" for="{{ asset_form.file.auto_id }}">{{ asset_form.file.label }}</label>
            {{ asset_form.file }}
        </p>
    </fieldset>
    <p>
        <input class="black-submit" id="submit2" type="submit" value="{% translate 'Upload' %}" />
    </p>
</form>
{% endif %}

{% endblock content %}
