{% extends "base.html" %}

{% load i18n %}

{% block sitecontent %}

<!-- Content -->
<div id="content-width">
    <div id="content-width-in">

            <h1 class="page-title">{% trans 'Lost password' %}</h1>

                <form action="{% url 'lost_password_send' %}" method="post">
                {% csrf_token %}
                <fieldset>
                    <legend>{% trans 'Send credentials by E-Mail' %}</legend>
                    <p>
                        <label class="common-label" id="email-label" for="email-input">{% trans 'Your E-Mail' %}</label>
                        <input class="common-input" id="email-input" type="email" name="email" maxlength="50" value="" />
                    </p>
                    <p id="common-submit">
                        <input class="my-button" id="submit" type="submit" value="{% trans 'Submit' %}" />
                    </p>
                </fieldset>
            </form>

    <hr class="noscreen" />
    </div>
</div> <!-- /content -->

{% endblock %}
