{% extends "base.html" %}

{% load i18n %}

{% block sitecontent %}

<div class="main-content">
    <h1 class="page-title">{% translate 'Lost password' %}</h1>

        <form action="{% url 'lost_password_send' %}" method="post">
        {% csrf_token %}
        <fieldset>
            <legend>{% translate 'Send credentials by E-Mail' %}</legend>
            <p>
                <label class="common-label" id="email-label" for="email-input">{% translate 'Your E-Mail' %}</label>
                <input class="common-input" id="email-input" type="email" name="email" maxlength="50" value="" />
            </p>
            <p id="common-submit">
                <input class="black-submit" id="submit" type="submit" value="{% translate 'Submit' %}" />
            </p>
        </fieldset>
    </form>
</div>
{% endblock sitecontent %}
