<!-- Tray -->
<div id="tray">
    <ul class="box">
        <!-- <li id="tray-active"> -->
        <li>
            <a href="Dispatcher?page=articleList">Články</a>
        </li>
        <!-- <li id="tray-active"> -->
        <li>
            <a href="Dispatcher?page=contact">Kontakt</a>
        </li>
        <!-- <li id="tray-active"> -->
        <li>
            <a href="Dispatcher?page=myBuildingUnitList">Jednotky</a>
        </li>
        <!-- <li id="tray-active"> -->
        <li>
            <a href="Dispatcher?page=psUserDetail">Osobní nastavení</a>
        </li>
        <!-- <li id="tray-active"> -->
        <li>
            <a href="Dispatcher?page=redactionArticleList">Redakce</a>
        </li>
        <!-- <li id="tray-active"> -->
        <li>
            <a href="Dispatcher?page=faultReportingList">Hlášení závad</a>
        </li>
        <!-- <li id="tray-active"> -->
        <li>
            <a href="Dispatcher?page=advertList">Inzeráty</a>
        </li>
        <!-- <li id="tray-active"> -->
        <li>
            <a href="Dispatcher?page=companyDetail">Administrace</a>
        </li>
    </ul>
<hr class="noscreen" />
</div> <!-- /tray -->
