<!-- Tray -->
<div id="tray">
    <ul class="box">
        <li>
            <a href="javascript:void(0);" class="icon" onclick="hamburgerMenu()">
                <svg aria-hidden="true" height="16" viewBox="0 0 16 16" version="1.1" width="16" data-view-component="true" style="color: inherit !important; display: flex; pointer-events: none; float: unset; fill: currentColor;">
                    <path d="M1 2.75A.75.75 0 0 1 1.75 2h12.5a.75.75 0 0 1 0 1.5H1.75A.75.75 0 0 1 1 2.75Zm0 5A.75.75 0 0 1 1.75 7h12.5a.75.75 0 0 1 0 1.5H1.75A.75.75 0 0 1 1 7.75ZM1.75 12h12.5a.75.75 0 0 1 0 1.5H1.75a.75.75 0 0 1 0-1.5Z"></path>
                </svg>
            </a>
        </li>
        {% if tray_menu_items %}
        {% for obj in tray_menu_items %}
        <li {% if obj.active %}id="tray-active"{% endif %}><a href="{{ obj.link }}">{{ obj.description }}</a></li>
        {% endfor %}
        {% endif %}
    </ul>
    <script>
        function hamburgerMenu() {
            let aside = document.getElementById("aside");
            let cols = document.getElementById("cols");
            let asideBottom = document.getElementById("aside-bottom");
            let content = document.getElementById("content");
            let contentLeft = document.getElementById("content-left");

            if (aside.style.display === "block" || aside.style.display == "") {
                aside.style.display = "none";
                cols.style.backgroundImage = "none";
                asideBottom.style.display = "none";
                content.style.width = "940px";
                contentLeft.style.width = "670px";
            } else {
                aside.style.display = "block";
                cols.style.backgroundImage = 'url(/static/design/cols.gif)';
                cols.style.backgroundRepeat = 'repeat-y';
                cols.style.backgroundPositionX = 0;
                cols.style.backgroundPositionY = 0;
                asideBottom.style.display = "block";
                content.style.width = "740px";
                contentLeft.style.width = "470px";
            }
        }
    </script>
<hr class="noscreen" />
</div> <!-- /tray -->
