/*
 *  Body
 */
body {
  font-family: Arial, sans-serif;
  font-size: 13px;
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: #d7ecf4;
}

a {color:#739D13;}
a:hover {color:#516F0D;}

h1, h2, h3, h4, h5, h6, p, address, blockquote, table, dl, fieldset {margin:15px 0;}

h1 {font-size: 19px;}
h2 {font-size: 16px;}
h3 {font-size: 12px;}

textarea {
  font-family: Arial, sans-serif;
  font-size: 100%;
}

h1.page-title {color:#000000;}
h1.article-page-title {border-bottom:1px solid #D7ECF4; color:#3fa5cd; line-height: 1.5;}
h1.article-title {color:#739D13;}
h2.article-title {color:#739D13;}
h2.comment-title {color:#739D13;}

img.led {
  border: 0;
  width: 16px;
  height: 16px;
}

.full-width {
  width: 100%;
}

table.no-border {
  border: 0;
  line-height: 1.6;
}

table.list {
  border:1px solid #c3c3c3;
  border-collapse:collapse;
}

table.list th {
  background-color:#f2f3f4;
  border:1px solid #c3c3c3;
  padding:3px;
  vertical-align:top;
  text-align:left;
}

table.list td {
  background-color:#ffffff;
  border:1px solid #c3c3c3;
  padding:3px;
  vertical-align:top;
  text-align:left;
}

table.list td.closed-ticket {
  background-color:#d0d0d0;
  text-decoration: line-through;
}

.black-submit {
  font-family:"arial",sans-serif;
  color: #ffffff; /* barva textu */
  text-decoration: none; /* odebrat podtržení u odkazů */
  user-select: none; /* zakázat označování textu */
  background: #2F2F2F; /* pozadí tlačítka */
  padding: .7em 1.5em; /* odsazení od textu */
  border: none;
  border-radius: 5px;
}

.black-submit:hover {
  color: #ffffff;
  text-decoration: none;
  cursor: default;
}

fieldset {
  border: 1px solid #c3c3c3;
  width: 100%;
  box-sizing: border-box;
  padding: 15px;
  line-height: 1.5;
  border-radius: 5px;
}

legend {
  color: #000000;
  background: #d0d0d0;
  border: 1px solid #d0d0d0;
  padding: 2px 6px;
  border-radius: 5px;
}

legend.legend-permissions {
  text-align: center;
}

legend.hidden-legend {display: none;}

.common-label {
  width: 14em;
  float: left;
  text-align: right;
  margin-right: 0.5em;
  display: block;
  padding: 0;
}

.common-label-groups {
  width: 20em;
  float: left;
  text-align: right;
  margin-right: 0.5em;
  display: block;
  padding: 0;
}

.common-input {
  color: #000000;
  background: #ffffff;
  height:22px;
  border: 1px solid #c3c3c3;
  margin: 0;
  padding: 0px 5px;
  box-sizing: border-box;
  border-radius: 5px;
}

.common-input-chck {
  color: #000000;
  background: #ffffff;
  height:22px;
  border: 1px solid #c3c3c3;
  margin: 0;
  padding: 0;
}
.common-textarea {
  color: #000000;
  background: #ffffff;
  height:150px;
  border: 1px solid #c3c3c3;
  border-radius: 5px;
  width:100%;
  box-sizing: border-box;
}

.textarea-internal-note {
  color: #000000;
  background: #ffffff;
  height:150px;
  border: 1px solid #c3c3c3;
  border-radius: 5px;
  box-sizing: border-box;
}
.common-submit input {
  margin-left: 15em;
}

.create-button {
	box-shadow:inset 0px 39px 0px -24px #e67a73;
	background-color:#e4685d;
	border-radius:4px;
	border:1px solid #949294;
	cursor:pointer;
	color:#ffffff;
	padding:6px 15px;
	text-decoration:none;
	text-shadow:0px 1px 0px #b23e35;
}
.create-button:hover {
	background-color:#eb675e;
  color:#ffffff;
}
.create-button:active {
	position:relative;
	top:1px;
  color:#ffffff;
}

.filter-container {
    display: flex;
    flex-flow: row;
    width: 100%;
}

.filter-item {
  display: block;
  padding: 0px 10px 0px 0px;
}

.wrapper1 {
  max-width: 960px;
  margin: auto;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.6);
}

.wrapper2 {
  margin: 0px 10px 0px 10px;
}

/*
 *  Header
 */
.header {
  display: flex;
  max-width: 940px;
  height: 95px;
  margin: auto;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background: url("../design/header.gif") 0 0 no-repeat;
  background-color: #92bf00;
}

#company_name {
  font-size:160%;
  text-align: center;
  padding: 10px;
  margin: auto;
}

.logo {
  box-sizing: border-box;
  flex-grow: 0;
  flex-shrink: 0;
}

img#logo {
  width: auto;
  height: 95px;
  margin: 0;
  padding: 0;
  cursor: pointer;
}


/*
 *  Tray
 */
.tray {
  display: flex;
  max-width: 940px;
  padding: 10px 0px 15px 0px;
  margin: auto;
  border-radius: 0px 0px 5px 5px;
  background-color: #2f2f2f;
  line-height: 1.5;
}

nav ul {
  list-style-type: none;
  padding: 0px 20px 0px 10px;
  margin: 0;
}

nav li {
  display: inline;
}

nav a {
  color: #fff;
  text-decoration: underline;
  display: block;
  float: left;
  padding: 0 15px 0 10px;
  background:url("../design/tray-separator.gif") 100% 50% no-repeat;
}

nav a:hover {
  color: #fff;
  text-decoration: none;
}

.tray li#tray-active a {
  color: #94c9e2;
  text-decoration: none;
  font-weight: bold;
}

.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
  padding: 0px 10px;
}

.menu-toggle .bar {
  width: 20px;
  height: 2px;
  background-color: white;
  margin: 2px 0;
  transition: 0.4s;
}

.menu-user {
  display: none;
  color: white;
  font-weight: bold;
}

.menu-user a {
  color: #94c9e2;
  font-weight: bold;
  float: none;
  display: inline;
  padding: 0px;
  text-decoration: none;
}

.menu-env {
  width: 100%;
}

/*
 *  Main
 */

main {
  display: flex;
  max-width: 940px;
  margin: auto;
  background-color: #fff;
}

.main-content {
  background-color: #fff;
  width: 100%;
  padding: 10px;
  overflow: hidden;
}

/*
 *  Article
 */
.article-box {
  background: url("../design/dot.gif") 0 100% repeat-x;
  padding: 0px 0px 10px 0px;
  margin: 0px 0px 10px 0px;
  line-height: 1.5;
}

.article-desc p {
  margin-top: 8px;
  margin-bottom: 0 !important;
}

.article-title-list {
  font-weight: normal;
  padding: 0;
  margin: 0;
}

.article-title-list a {
  text-decoration: none;
}

.article-desc .info {
  font-size: 85%;
  color: #5F5F5F;
  margin: 0;
  margin-bottom: 0 !important;
}

.info a {
  color: #5F5F5F;
}

.info a:hover {
  color:#2F2F2F;
}

.info a.comments {
  text-decoration: none;
}

.article-detail {
  line-height: 1.5;
}

.article-detail .info {
  font-size: 85%;
  color: #5F5F5F;
  margin: 0;
  margin-bottom: 0 !important;
}

.article-detail p {
  margin-top: 15px;
}

.article-title {
  margin: 0;
  padding: 10px 10px 0px 0px;
  font-weight: normal;
}

img.article-img {
  max-width: 100%;
  height: auto;
  margin: auto;
  display: block;
}

.comment-title {
  margin: 0;
  padding: 10px 10px 10px 0px;
  font-weight: normal;
}

.comment-box {
  margin-bottom: 10px;
  padding-bottom: 10px;
  background: url("../design/dot.gif") 0 100% repeat-x;
}

.back_to_list {
  display: none;
  text-align: center;
  padding: 15px 0px;
}

.back_to_detail {
  text-align: center;
  padding: 15px 0px;
}

/*
 *  Advert
 */

.advert_c1 {
  background-color: #f5fae5;
  border-color: #cee67e;
  border-width: 1px;
  border-style: solid;

  padding: 10px 10px 10px 15px;
  border-radius: 5px;
  line-height: 1.5;
}

.advert_c2 {
  background-color: #e1f4ff;
  border-color: #7bcfff;
  border-width: 1px;
  border-style: solid;
  padding: 10px 10px 10px 15px;
  border-radius: 5px;
  line-height: 1.5;
}

.advert_c3 {
  background-color: #fff8d6;
  border-color: #ffe770;
  border-width: 1px;
  border-style: solid;
  padding: 10px 10px 10px 15px;
  border-radius: 5px;
  line-height: 1.5;
}

.advert-desc h2 {
  margin: 0;
  font-size: 140%;
  font-weight: normal;
}

.advert-desc .info {
  font-size: 85%;
  color: #5F5F5F;
  margin: 0;
  text-align: justify;
  margin-bottom: 0 !important;
  padding-bottom: 20px;
  background: url("../design/dot.gif") 0 100% repeat-x;
}

.advert-desc .body {
  padding-bottom: 5px;
  background: url("../design/dot.gif") 0 100% repeat-x;
}

.advert-desc a {
  color: #5F5F5F;
}

.advert-desc .contact {
  color: #5F5F5F;
  line-height: 1.5;
}

p.contact a {
  color: #5F5F5F;
}

.paginator {
  text-align: center !important;
}

/*
 *  Side menu
 */
.side-menu {
  display: flex;
  flex-direction: column;
  background-color: #e5e5e5;
  width: 190px;
  min-width: 190px;
  padding: 0px 0px 15px 0px;
  margin: 10px 5px 10px 0px;
  border-radius: 5px;
}

.side-menu__header {
  padding: 5px;
  margin: 10px;
  font-weight: bold;
}

.side-menu__nav {
  padding: 0px;
  margin: 0px;
  list-style: none;
  display: inline;
}

#side-menu__nav-active a {
  background: url("../design/nav-active.gif") 15px 13px no-repeat;
  background-color: #9fcf00 !important;
  color: #FFF !important;
  text-decoration: none;
  font-weight: bold;
}

.side-menu__nav #side-menu__nav-active ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
  display: inline;
}

.side-menu__nav #side-menu__nav-active ul li a {
  border-top: 1px solid #525252;
  background: url("../design/nav-sub.gif") 30px 10px no-repeat;
  background-color: #2f2f2f !important;
  color: #F1FADD !important;
  padding-left: 45px;
}

.side-menu__nav a {
  display: block;
  padding: 7px 10px 7px 30px;
  margin: 0px;
  background: url("../design/nav-link.gif") 15px 13px no-repeat;
  border-top: 1px solid #e5e5e5;
  background-color: #d0d0d0 !important;
  color: #000 !important;
}

.side-menu__nav a:hover {
  text-decoration: none;
}

/*
 *  Side menu - Search
 */

.side-menu__search_header {
  padding: 5px;
  margin: 20px 10px 5px 10px;
  font-weight: bold;
}

.side-menu__search_form {
  border-top: 1px solid #f2f2f2;
  background-color: #d0d0d0;
  margin: 0;
  padding: 15px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  width: 100%;
}

#search-input {
  height: 22px;
  border: 0;
  margin: 0;
  padding: 0 0 0 3px;
  border-radius: 5px 0px 0px 5px;
  flex: 1;
  min-width: 10px;
}

#search-submit {
  padding: .1em 6px;
  top: 15px;
  height: 22px;
  border: 0;
  border-radius: 0px 5px 5px 0px;
  color: #ffffff;
  text-decoration: none;
  user-select: none;
  background: #2F2F2F;
}

/*
 *  Side menu - Login
 */

.side-menu__login_header {
  padding: 5px;
  margin: 20px 10px 5px 10px;
  font-weight: bold;
}

.side-menu__login form {
  margin: 0;
  padding: 0;
}

.side-menu__login_form {
  border-top: 1px solid #f2f2f2;
  background-color: #d0d0d0;
  position: relative;
  margin: 0;
  padding: 5px 15px 5px 15px;
  text-align: center;
}

.side-menu__login_form_in {
  max-width: 230px;
  margin: auto;
}

.side-menu__login_form p {
  margin: 10px 0px 10px 0px;
}

#logout-submit {
  padding: .1em .1em;
  width: 100px;
  height: 22px;
  border: 0;
  color: #ffffff;
  text-decoration: none;
  user-select: none;
  background: #2F2F2F;
  margin: 5px 0px 5px 0px;
  text-align: center;
  border-radius: 5px;
}

#login-label {
  width: 4em;
  float: left;
  text-align: right;
  margin-right: 0.5em;
  display: block;
  border: 0;
  background: transparent;
}

#password-label  {
  width: 4em;
  float: left;
  text-align: right;
  margin-right: 0.5em;
  display: block;
  border: 0;
  background: transparent;
}

#login-input {
  width: 96px;
  height: 22px;
  border: 0;
  margin: 0;
  padding: 0 0 0 3px;
  border-radius: 5px;
}

#password-input {
  width: 96px;
  height: 22px;
  border: 0;
  margin: 0;
  padding: 0 0 0 3px;
  border-radius: 5px;
}

#login-submit {
  padding: .1em .1em;
  width: 100px;
  height: 22px;
  border: 0;
  border-radius: 5px;
  color: #ffffff;
  text-decoration: none;
  user-select: none;
  background: #2F2F2F;
  margin: 5px 0px 5px 0px;
  text-align: center;
}

/*
 *  Boxes
 */

.boxes {
  display: block;
  background-color: #ffffff;
  min-width: 260px;
  padding: 0px;
  margin: 10px 0px 10px 5px;
}

.box1 {
  display: flex;
  flex-direction: column;
  background-color: #44a1ca;
  padding: 5px;
  margin: 0px 0px 10px 0px;
  border-radius: 5px;
  max-width: 250px;
}

.box1_header {
  background-color: #44a1ca;
  margin: 5px 0px 10px 0px;
  padding: 0px 5px 0px 5px;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
}

.box1_content {
  background-color: #ffffff;
  padding: 10px 0px;
  margin: 0px;
  border-radius: 5px;
}

.box2 {
  display: flex;
  flex-direction: column;
  background-color: #d7ecf4;
  padding: 5px;
  margin: 0px 0px 10px 0px;
  border-radius: 5px;
  max-width: 250px;
}

.box2_header {
  background-color: #d7ecf4;
  margin: 5px 0px 10px 0px;
  padding: 0px 5px 0px 5px;
  font-weight: bold;
  color: #44a1ca;
  text-transform: uppercase;
}

.box2_content {
  background-color: #ffffff;
  padding: 10px 0px;
  margin: 0px;
  border-radius: 5px;
}

#top_articles {
  margin: 0;
  list-style: none;
  border: 0;
  vertical-align: baseline;
  background: transparent;
  padding: 0px 10px;
  line-height: 1.6;
}

.top_articles_times {
  color: #5F5F5F;
  font-size: 85%;
  float: right !important;
}

.news_box {
  box-sizing: content-box;
  display: block;
  float: none;
  line-height: 19.2px;
  position: static;
  z-index: auto;
  margin: 0;
  min-height: 1px;
  border: 0;
  background: transparent;
  padding: 0;
}

.news_box dt {
  color: #739D13;
  display: block;
  float: left;
  width: 50px;
  font-weight: bold;
  text-align: center;
  line-height: 1.2;
  margin: 0;
  padding: 0;
}

.news_box dt span {
  font-size: 140%;
  margin: 0;
  padding: 0;
  color: #739D13;
  line-height: 19.2px;
}

.news_box dd {
  display: block;
  font-size: 85%;
  overflow: hidden;
  padding: 0px 5px 0px 0px;
}

.news_box dd span {
  color: #5F5F5F;
  border: 0;
  vertical-align: baseline;
  background: transparent;
  margin: 0;
  padding: 0;
}

.box1_content .bg {
  border-top: 1px solid #D7F199;
  border-bottom: 1px solid #D7F199;
  background: #F1FADD;
  margin: 10px 0;
  padding: 10px 0;
}

.survey_box {
  padding: 0px 10px;
  line-height: 1.5;
}

#survey-submit {
  padding: .1em .1em;
  width: 100px;
  height: 22px;
  border: 0;
  color: #ffffff;
  text-decoration: none;
  user-select: none;
  background: #2F2F2F;
  margin: 0;
  text-align: center;
  border-radius: 5px;
}

.usefullinks {
  margin: 0;
  list-style: none;
  border: 0;
  padding: 0px 10px;
  line-height: 1.6;
}

.usefullinks span {
  padding: 0px 10px 0px 0px;
  float: left !important;
}

/*
 *  Footer
 */

footer {
  display: flex;
  max-width: 940px;
  margin: auto;
  color: #3fa5cd;
  font-size: 85%;
  padding: 20px 0px;
  background: url("../design/footer.gif") 0 0 repeat-x;
  background-color: #ffffff;
}

footer a {
  color: #3fa5cd;
}

footer a:hover {
  color: #3fa5cd;
  text-decoration: none;
}

/*
 *  Messages
 */


#msg-error {
  border-radius: 5px;
  background-color: #ffeaf4;
  border-color: #ff8ec4;
  border-width: 1px;
  border-style: solid;
  padding:10px 15px 15px 10px;
  position:relative;
  margin:10px 0 0 0;
}
#msg-info {
  border-radius: 5px;
  background-color: #f5fae5;
  border-color: #cee67e;
  border-width: 1px;
  border-style: solid;
  padding:10px 15px 15px 10px;
  position:relative;
  margin:10px 0 0 0;
}

/*
*  Tablet Styles (481px — 768px)
*/
@media (max-width: 960px) {

  h1 {font-size: 20px;}
  h2 {font-size: 18px;}
  h3 {font-size: 16px;}

  .wrapper2 {
    margin: 0px 5px 0px 5px;
  }

  input {
    font-size:100%;
  }

  textarea {
    font-size:100%;
  }

  .label {
    color:#5F5F5F;
    font-weight: bold;
  }

  .common-label {
    text-align: left;
    color:#5F5F5F;
    font-weight: bold;
  }

  .common-label-groups {
    width: 14em;
    text-align: left;
    color:#5F5F5F;
    font-weight: bold;
  }

  .common-input {
    width: 100%;
    height:27px;
  }

  .common-input-chck {
    height:27px;
  }

  .filter-container {
    display: block;
  }

  .textarea-internal-note {
    width: 100%;
  }

  /* Tray */

  .menu {
    display: none;
    flex-direction: column;
    z-index: 1;
  }

  .menu.active {
    display: flex;
  }

  .menu-toggle {
    display: flex;
  }

  nav {
    flex-direction: row-reverse;
    justify-content: space-between;
    background-color: #000;
  }

  nav li {
    background: none;
    margin: 3px;
  }

  nav a {
    background: none;
  }

  .menu-user.active {
    display: block;
    flex-direction: row;
    text-align: center;
  }

  /* Main */
  main {
      flex-direction: column;
  }

  .main-content {
    width: unset;
  }

  /* Article */

  .article-detail {
    overflow: scroll;
  }

  .back_to_list {
    display: block;
  }

  /* Advert */

  /* Side menu */
  .side-menu {
    display: none;
    width: 100%;
  }

  .side-menu.active {
    display: flex;
  }

  #search-submit {
    left: 215px;
    width: 80px;
  }

  #login-input, #password-input {
    width: 150px;
  }

  /* Boxes */
  .boxes {
    margin: 10px auto;
  }

  .box1, .box2 {
    max-width: 400px;
  }
}

/*
 *  Mobile Styles (320px — 480px)
 */

@media (max-width: 800px) {

  /* Body */
  body {
    font-size: 16px;
  }

  /* Header */
  #company_name {
    font-size:120%;
  }

  .logo {
    display: none;
  }

  .hide-in-mobile {
    display: none;
  }
}
