/* Body */
body {
  font-family: Arial, sans-serif;
  font-size: 0.8em;
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: #d7ecf4;
}

.wrapper1 {
  max-width: 960px;
  margin: auto;
  background-color: #fff;
}

.wrapper2 {
  margin: 0px 10px 0px 10px;
}

/* Header */
.header {
  display: flex;
  max-width: 940px;
  height: 95px;
  margin: auto;
  background-color: #92bf00;
  justify-content: center;
  align-items: center;
}

#company_name {
  font-size:160%;
  text-align: center;
}

/* Tray */
.tray {
  display: flex;
  max-width: 940px;
  padding: 10px 0px 15px 0px;
  margin: auto;
  border-radius: 0px 0px 5px 5px;
  background-color: #2f2f2f;
  line-height: 1.5;
}

nav ul {
  list-style-type: none;
  padding: 0px 20px 0px 20px;
  margin: 0;
}

nav li {
  display: inline;
}

nav a {
  color: #fff;
  text-decoration: underline;
  display: block;
  float: left;
  padding: 0 15px 0 10px;
  background:url("../design/tray-separator.gif") 100% 50% no-repeat;
}

nav a:hover {
  text-decoration: none;
}

.tray li#tray-active a {
  color: #94c9e2;
  text-decoration: none;
  font-weight: bold;
}

.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
  padding: 0px 10px;
}

.menu-toggle .bar {
  width: 20px;
  height: 2px;
  background-color: white;
  margin: 2px 0;
  transition: 0.4s;
}

/*
 *  Main
 */

main {
  display: flex;
  max-width: 940px;
  margin: auto;
  background-color: #fff;
}

.main-content {
  background-color: gray;
  width: 100%;
  padding: 0px 5px 0px 5px;
}

/*
 *  Side menu
 */

.side-menu {
  display: flex;
  flex-direction: column;
  background-color: #e5e5e5;
  width: 190px;
  min-width: 190px;
  padding: 0px 0px 15px 0px;
  margin: 10px 5px 10px 0px;
  border-radius: 5px;
}

.side-menu__header {
  padding: 5px;
  margin: 10px;
  font-weight: bold;
}

.side-menu__nav {
  padding: 0px;
  margin: 0px;
  list-style: none;
  display: inline;
}

#side-menu__nav-active a {
  background: url("../design/nav-active.gif") 15px 13px no-repeat;
  background-color: #9fcf00 !important;
  color: #FFF !important;
}

.side-menu__nav #side-menu__nav-active ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
  display: inline;
}

.side-menu__nav #side-menu__nav-active ul li a {
  border-top: 1px solid #525252;
  background: url("../design/nav-sub.gif") 30px 10px no-repeat;
  background-color: #2f2f2f !important;
  color: #F1FADD !important;
  padding-left: 45px;
}

.side-menu__nav a {
  display: block;
  padding: 7px 10px 7px 30px;
  margin: 0px;
  background: url("../design/nav-link.gif") 15px 13px no-repeat;
  border-top: 1px solid #e5e5e5;
  background-color: #d0d0d0 !important;
  color: #000 !important;
}

/*
 *  Side menu - Search
 */

.side-menu__search_header {
  padding: 5px;
  margin: 20px 10px 5px 10px;
  font-weight: bold;
}

.side-menu__search form {
  margin: 0;
  padding: 0;
}

.side-menu__search_form {
  border-top: 1px solid #f2f2f2;
  background-color: #d0d0d0;
  position: relative;
  height: 22px;
  margin: 0;
  padding: 15px;
  text-align: center;
}

#search-input {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 100px;
  height: 22px;
  border: 0;
  margin: 0;
  padding: 0;
}

#search-submit {
  padding: .1em .1em;
  position: absolute;
  top: 15px;
  left: 115px;
  width: 60px;
  height: 22px;
  border: 0;

  color: #ffffff;
  text-decoration: none;
  user-select: none;
  background: #2F2F2F;
  outline: none;
}

/*
 *  Side menu - Login
 */

.side-menu__login_header {
  padding: 5px;
  margin: 20px 10px 5px 10px;
  font-weight: bold;
}

.side-menu__login form {
  margin: 0;
  padding: 0;
}

.side-menu__login_form {
  border-top: 1px solid #f2f2f2;
  background-color: #d0d0d0;
  position: relative;
  margin: 0;
  padding: 5px 15px 5px 15px;
  text-align: center;
}

.side-menu__login_form p {
  margin: 10px 0px 10px 0px;
}

#logout-submit {
  padding: .1em .1em;
  width: 100px;
  height: 22px;
  border: 0;
  color: #ffffff;
  text-decoration: none;
  user-select: none;
  background: #2F2F2F;
  outline: none;
  margin: 5px 0px 5px 0px;
  text-align: center;
}

#login-label {
  width: 4em;
  float: left;
  text-align: right;
  margin-right: 0.5em;
  display: block;
  border: 0;
  outline: 0;
  background: transparent;
}

#password-label  {
  width: 4em;
  float: left;
  text-align: right;
  margin-right: 0.5em;
  display: block;
  border: 0;
  outline: 0;
  background: transparent;
}

#login-input {
  width: 100px;
  height: 22px;
  border: 0;
  margin: 0;
  padding: 0;
}

#password-input {
  width: 100px;
  height: 22px;
  border: 0;
  margin: 0;
  padding: 0;
}

#login-submit {
  padding: .1em .1em;
  width: 100px;
  height: 22px;
  border: 0;
  color: #ffffff;
  text-decoration: none;
  user-select: none;
  background: #2F2F2F;
  outline: none;
  margin: 5px 0px 5px 0px;
  text-align: center;
}

/*
 *  Boxes
 */

.boxes {
  display: block;
  background-color: #ffffff;
  min-width: 260px;
  padding: 0px;
  margin: 10px 0px 10px 5px;
}

.box1 {
  display: flex;
  flex-direction: column;
  background-color: #44a1ca;
  padding: 5px;
  margin: 0px 0px 10px 0px;
  border-radius: 5px;
  max-width: 250px;
}

.box1_header {
  background-color: #44a1ca;
  margin: 5px 0px 10px 0px;
  padding: 0px 5px 0px 5px;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
}

.box1_content {
  background-color: #ffffff;
  padding: 10px 0px;
  margin: 0px;
  border-radius: 5px;
}

.box2 {
  display: flex;
  flex-direction: column;
  background-color: #d7ecf4;
  padding: 5px;
  margin: 0px 0px 10px 0px;
  border-radius: 5px;
  max-width: 250px;
}

.box2_header {
  background-color: #d7ecf4;
  margin: 5px 0px 10px 0px;
  padding: 0px 5px 0px 5px;
  font-weight: bold;
  color: #44a1ca;
  text-transform: uppercase;
}

.box2_content {
  background-color: #ffffff;
  padding: 10px 0px;
  margin: 0px;
  border-radius: 5px;
}

#top_articles {
  margin: 0;
  list-style: none;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
  padding: 0px 10px;
  line-height: 1.5;
}

.top_articles_times {
  color: #5F5F5F;
  font-size: 85%;
  float: right !important;
}

.news_box {
  box-sizing: content-box;
  display: block;
  float: none;
  line-height: 19.2px;
  position: static;
  z-index: auto;
  margin: 0;
  min-height: 1px;
  border: 0;
  outline: 0;
  background: transparent;
  padding: 0;
}

.news_box dt {
  color: #739D13;
  display: block;
  float: left;
  width: 50px;
  font-weight: bold;
  text-align: center;
  line-height: 1.2;
  margin: 0;
  padding: 0;
}

.news_box dt span {
  font-size: 140%;
  margin: 0;
  padding: 0;
  color: #739D13;
  line-height: 19.2px;
}

.news_box dd {
  display: block;
  width: 190px;
  font-size: 85%;
  overflow: hidden;
}

.news_box dd span {
  color: #5F5F5F;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
  margin: 0;
  padding: 0;
}

.box1_content .bg {
  border-top: 1px solid #D7F199;
  border-bottom: 1px solid #D7F199;
  background: #F1FADD;
  margin: 10px 0;
  padding: 10px 0;
}

/*
 *  Footer
 */

footer {
  display: flex;
  max-width: 940px;
  margin: auto;
  color: #3fa5cd;
  font-size: 85%;
  padding: 20px 0px;
  background: url("../design/footer.gif") 0 0 repeat-x;
  background-color: #ffffff;
}

/*
 *  Messages
 */


#msg-error {
  border-radius: 5px;
  background-color: #ffeaf4;
  border-color: #ff8ec4;
  border-width: 1px;
  border-style: solid;
  padding:10px 15px 15px 10px;
  position:relative; margin:10px 0;
}
#msg-info {
  border-radius: 5px;
  background-color: #f5fae5;
  border-color: #cee67e;
  border-width: 1px;
  border-style: solid;
  padding:10px 15px 15px 10px;
  position:relative; margin:10px 0;
}

/* Mobile Styles (320px — 480px) */
@media (max-width: 960px) {
  main {
      flex-direction: column;
  }

  #company_name {
    font-size:100%;
  }

  .menu {
    display: none;
    flex-direction: column;
    z-index: 1;
  }

  .menu.active {
    display: flex;
  }

  .menu-toggle {
    display: flex;
  }

  nav {
    flex-direction: row-reverse;
    justify-content: space-between;
    background-color: #000;
  }

  nav li {
    background: none;
    margin: 3px;
  }

  nav a {
    background: none;
  }

  .side-menu {
    display: none;
    width: 100%;
  }

  .side-menu.active {
    display: flex;
  }

  .main-content {
    width: unset;
  }

}
