name: Build Docker Image

on:
  workflow_dispatch:
  push:
  pull_request:
    branches: [ "master" ]

permissions:
  contents: read


jobs:
  playwright-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code Repository
        uses: actions/checkout@v6

      - name: Build docker image
        run: |
          cd svjis
          docker build -t berk76/svjis-app:latest .
