name: Build Docker Image

on:
  workflow_dispatch:
  push:
  pull_request:
    branches: [ "master" ]

permissions:
  contents: read

jobs:
  build_docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code Repository
        uses: actions/checkout@v6

      - name: Build docker image
        run: |
          docker build -t berk76/svjis2-app:latest .

      - name: Tag version and push
        run: |
          TAG="test2"
          docker tag berk76/svjis2-app:latest berk76/svjis2-app:$TAG
          docker login --username ${{ secrets.DOCKERHUB_USERNAME }} --password ${{ secrets.DOCKERHUB_TOKEN }}
          docker push berk76/svjis2-app:$TAG
