name: Makemessages

on:
  workflow_dispatch:

jobs:
  makemessages:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.12'

    - name: Install Dependencies
      run: |
        python -m venv venv
        source venv/bin/activate
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        sudo apt-get install gettext

    - name: Make messages cs
      run: |
        source venv/bin/activate
        cd svjis
        python manage.py makemessages -l cs
        python manage.py compilemessages

    - name: Archive messages cs
      uses: actions/upload-artifact@v3
      with:
        name: Messages cs
        path: svjis/articles/locale/cs/*

    - name: Make messages en
      run: |
        source venv/bin/activate
        cd svjis
        python manage.py makemessages -l en
        python manage.py compilemessages

    - name: Archive messages en
      uses: actions/upload-artifact@v3
      with:
        name: Messages en
        path: svjis/articles/locale/en/*
