name: Makemessages

on:
  workflow_dispatch:

permissions:
  contents: read
  pull-requests: write

jobs:
  makemessages:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v5

    - name: Install uv
      uses: astral-sh/setup-uv@1e862dfacbd1d6d858c55d9b792c756523627244

    - name: Set up Python
      uses: actions/setup-python@v6
      with:
        python-version: '3.12'

    - name: Install Dependencies
      run: |
        uv sync
        sudo apt-get install gettext

    - name: Make messages
      run: |
        source .venv/bin/activate
        cd svjis
        python manage.py makemessages --all
        python manage.py compilemessages

    - name: Archive messages
      uses: actions/upload-artifact@v5
      with:
        name: Messages
        path: svjis/articles/locale/*
