name: Playwright Tests

on:
  workflow_dispatch:
  pull_request:
    branches:
      - master
    paths:
      - '.github/workflows/playwright-tests.yml'
      - 'svjis/**'
      - 'pyproject.toml'
      - 'uv.lock'
  push:
    branches:
      - master

permissions:
  contents: read
  pull-requests: write

jobs:
  playwright-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code Repository
        uses: actions/checkout@v6

      - name: Install uv
        uses: astral-sh/setup-uv@1e862dfacbd1d6d858c55d9b792c756523627244

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.13'

      - name: Install Dependencies
        run: |
          uv sync
          source .venv/bin/activate
          playwright install

      - name: Compile Messages
        run: |
          sudo apt-get install gettext
          source .venv/bin/activate
          cd svjis/
          python manage.py compilemessages

      - name: Run Tests
        run: |
          source .venv/bin/activate
          cd svjis
          python manage.py test articles.tests_playwright

      - name: Archive screen shots
        if: always()
        uses: actions/upload-artifact@v6
        with:
          name: Screenshots
          path: svjis/playwright_output/**/*.*
          overwrite: true
          retention-days: 7
